Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

wip
  internal/server/handlers_executions.go
Due: go-fmt, go-imports

docs: add backend logs endpoint to architecture documentation
  docs/ARCHITECTURE.md
Due: none

wip
  cmd/local/main.go
Due: go-fmt, go-imports

refactor: remove redundant Status field from BackendLogsResponse
  internal/api/executions.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/orchestrator/logs.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

refactor: simplify backend logs API to return []api.LogEvent directly
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/orchestrator/logs.go
  internal/server/handlers_executions.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

test: add comprehensive unit tests for backend logs feature
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

feat: add CloudWatch Logs Insights endpoint for admin request log queries
  README.md
  cmd/local/main.go
  deploy/providers/aws/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

feat: add trace command
  README.md
  cmd/cli/cmd/claim_test.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/kill_test.go
  cmd/cli/cmd/list_test.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run_service_test.go
  cmd/cli/cmd/secrets_test.go
  cmd/cli/cmd/status_test.go
  cmd/cli/cmd/trace.go
  cmd/cli/cmd/users_test.go
  docs/CLI.md
  internal/client/client.go
  internal/client/interface.go
Due: go-fmt, go-imports, update-readme-help

style: update trace output
  README.md
  cmd/cli/cmd/trace.go
Due: go-fmt, go-imports, update-readme-help

fix: use ExtractRequestIDFromContext for modified_by_request_id in executions
  internal/backend/orchestrator/executions.go
  internal/providers/aws/processor/ecs_events.go
Due: go-fmt, go-imports

fix: use ExtractRequestIDFromContext for modified_by_request_id in executions (#311)
  internal/backend/orchestrator/executions.go
  internal/providers/aws/processor/ecs_events.go
Due: go-fmt, go-imports

chore: improve development flow
  .justfiles/deploy.just
  .justfiles/infra.just
  README.md
  deploy/providers/aws/runvoy-bucket.yaml
Due: update-readme-help

docs: add Mermaid interaction diagrams to ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: add Mermaid interaction diagrams to ARCHITECTURE.md (#312)
  docs/ARCHITECTURE.md
Due: none

docs: remove useless docs
  README.md
  cmd/webapp/COMPONENT_TESTING_GUIDE.md
  cmd/webapp/COVERAGE_ENFORCEMENT_GUIDE.md
  cmd/webapp/COVERAGE_QUICK_START.md
  cmd/webapp/COVERAGE_REPORT.md
  cmd/webapp/TEST_SETUP_SUMMARY.md
Due: update-readme-help

docs: update arch diagram
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

feat: add SvelteKit routing for shareable URLs in webapp
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/routing.test.ts
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/svelte.config.js
Due: none

wip
  README.md
  cmd/cli/cmd/logs.go
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: go-fmt, go-imports, update-readme-help

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

wip
  README.md
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/SettingsView.svelte
Due: update-readme-help

wip
  README.md
  cmd/cli/cmd/logs.go
  internal/client/infra/urls.go
  internal/client/infra/urls_test.go
Due: go-fmt, go-imports, update-readme-help

feat: add SvelteKit routing for shareable URLs in webapp (#313)
  README.md
  cmd/cli/cmd/logs.go
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/routing.test.ts
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/svelte.config.js
  internal/client/infra/urls.go
  internal/client/infra/urls_test.go
Due: go-fmt, go-imports, update-readme-help

docs: update ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

wip
  README.md
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/database/repository.go
  internal/providers/aws/orchestrator/init.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

fix: add missing includeValue parameter to SecretsRepository methods
  internal/providers/aws/database/dynamodb/secrets.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/claim_test.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/kill_test.go
  cmd/cli/cmd/list_test.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run_service_test.go
  cmd/cli/cmd/secrets_test.go
  cmd/cli/cmd/status_test.go
  cmd/cli/cmd/trace.go
  cmd/cli/cmd/users_test.go
  docs/CLI.md
  internal/auth/authorization/hydrate_test.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/secrets_test.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/database/secrets_test.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/processor/backend_test.go
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

feat: enrich GET /trace endpoint with related resources
  cmd/cli/cmd/trace.go
  internal/api/logs.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/client/client.go
  internal/client/interface.go
  internal/database/repository.go
  internal/database/secrets.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/database/secrets.go
  internal/providers/aws/database/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/secrets_test.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/database/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/users.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/executions_trace_test.go
Due: go-fmt, go-imports, update-readme-help

tool: remove obsolete sleep
  .justfiles/deploy.just
  README.md
Due: update-readme-help

tool: update deploy flow for webapp
  .justfiles/build.just
  .justfiles/deploy.just
  .justfiles/release.just
  CONTRIBUTING.md
  README.md
Due: update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
