Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

deps: bump Go deps
  README.md
  go.mod
  go.sum
Due: update-readme-help

feat: enhance infra command flags for apply and destroy operations
  cmd/cli/cmd/infra.go
  docs/CLI.md
  internal/backend/orchestrator/init.go
  internal/backend/processor/init.go
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_gcp.go
  internal/client/infra/deploy_test.go
  internal/config/config.go
  internal/constants/types.go
Due: go-fmt, go-imports

wip
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_gcp.go
  internal/providers/gcp/constants/doc.go
  internal/providers/gcp/constants/infra.go
Due: go-fmt, go-imports

wip
  internal/client/infra/deploy_aws.go
  internal/providers/aws/constants/infra.go
Due: go-fmt, go-imports

wip
  cmd/cli/cmd/infra.go
  docs/CLI.md
  internal/client/infra/deploy_gcp.go
  internal/providers/gcp/constants/infra.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/infra_test.go
  go.mod
  go.sum
  internal/backend/orchestrator/init_test.go
  internal/backend/processor/init_test.go
  internal/client/infra/deploy_gcp_test.go
  internal/config/config_test.go
  internal/constants/types_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/client/infra/deploy_gcp.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/client/infra/deploy_gcp.go
  internal/providers/gcp/constants/doc.go
  internal/providers/gcp/constants/infra.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/infra.go
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_aws_test.go
  internal/client/infra/deploy_gcp.go
  internal/client/infra/deploy_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/processor/init_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/client/infra/deploy_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  .justfiles/lint.just
  .justfiles/test.just
  README.md
  internal/client/infra/deploy_gcp.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/client/infra/deploy_gcp.go
  internal/client/infra/gcp_clients.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/GCP.md
  internal/client/infra/deploy_gcp.go
  internal/client/infra/gcp_clients.go
  internal/providers/gcp/constants/infra.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/client/infra/deploy_gcp.go
  internal/client/infra/gcp_clients.go
  internal/providers/gcp/constants/infra.go
Due: go-fmt, go-imports, update-readme-help

refactor(infra): remove core aliases
  cmd/cli/cmd/infra.go
  internal/client/infra/core/types.go
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_aws_test.go
  internal/client/infra/deploy_test.go
  internal/client/infra/gcp/clients.go
  internal/client/infra/gcp/deploy.go
  internal/client/infra/gcp/deploy_test.go
Due: go-fmt, go-imports

fix(infra): share parameter parsing with gcp
  internal/client/infra/core/parameters.go
  internal/client/infra/deploy.go
  internal/client/infra/deploy_test.go
  internal/client/infra/gcp/deploy.go
Due: go-fmt, go-imports

Refactor infra to use core types directly (#434)
  cmd/cli/cmd/infra.go
  internal/client/infra/core/parameters.go
  internal/client/infra/core/types.go
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_aws_test.go
  internal/client/infra/deploy_test.go
  internal/client/infra/gcp/clients.go
  internal/client/infra/gcp/deploy.go
  internal/client/infra/gcp/deploy_test.go
Due: go-fmt, go-imports

wip
  README.md
  docs/GCP.md
  internal/client/infra/core/parameters.go
  internal/client/infra/core/types.go
  internal/client/infra/deploy.go
  internal/client/infra/gcp/clients.go
  internal/client/infra/gcp/deploy.go
  internal/client/infra/gcp/deploy_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/ARCHITECTURE.md
  docs/GCP.md
  internal/client/infra/deploy.go
  internal/client/infra/gcp/clients.go
  internal/client/infra/gcp/deploy.go
  internal/client/infra/gcp/deployment_config.go
  internal/client/infra/gcp/service_clients.go
  internal/client/infra/gcp/templates/runvoy-deployment.jinja
  internal/providers/gcp/constants/infra.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deploy/providers/gcp/embed.go
  deploy/providers/gcp/runvoy-deployment.jinja
  docs/ARCHITECTURE.md
  internal/client/infra/gcp/deployment_config.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deploy/providers/gcp/runvoy-deployment.jinja
Due: update-readme-help

ci: add opencode flow
  .github/workflows/opencode.yml
  README.md
Due: update-readme-help

deps: bump all
  .github/workflows/opencode.yml
  .justfiles/utils.just
  README.md
  cmd/webapp/package-lock.json
  go.mod
  go.sum
Due: update-readme-help

feat(gcp): implement Phase 1 of GCP rollout plan
  docs/GCP_ARCHITECTURE.md
  internal/constants/types.go
Due: go-fmt, go-imports

feat(gcp): implement Phase 1 - GCP architecture and provider identifier
  docs/GCP_ARCHITECTURE.md
  internal/constants/types.go
Due: go-fmt, go-imports

docs: add playbook opencode example
  .runvoy/opencode-example.yml
  .runvoy/terraform-example.yml
  README.md
Due: update-readme-help

deps: bump all
  cmd/webapp/package-lock.json
  go.mod
  go.sum
Due: none

feat: add GCP mvp
  deploy/providers/gcp/resources.yaml
  internal/client/infra/deploy.go
  internal/client/infra/deploy_gcp.go
  internal/config/config.go
  internal/config/gcp.go
  internal/constants/config.go
  internal/constants/types.go
  internal/infra/gcp/doc.go
  internal/infra/gcp/executor.go
  internal/infra/gcp/parser.go
  internal/infra/gcp/types.go
Due: go-fmt, go-imports

wip
  .github/workflows/opencode.yml
Due: none

ci: update opencode default model
  .github/workflows/opencode.yml
Due: none

chore: lint
  .golangci.yml
  internal/client/client.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/orchestrator/image_parser.go
  internal/server/authorization_test.go
  internal/server/handlers_api_keys.go
  internal/server/handlers_api_keys_test.go
  internal/server/handlers_executions_test.go
  justfile
  scripts/update-changelog/main.go
Due: go-fmt, go-imports

deps: bump Go to v1.27
  go.mod
  go.sum
Due: none

ci: bump golangci-lint
  .github/workflows/golangci-lint.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
