Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

Checkpoint before follow-up message
  internal/app/executions.go
  internal/app/images.go
  internal/app/main.go
  internal/app/secrets.go
  internal/app/users.go
Due: go-fmt, go-imports

Split file
  internal/app/executions.go
  internal/app/images.go
  internal/app/main.go
  internal/app/secrets.go
  internal/app/users.go
Due: go-fmt, go-imports

Updated readme
  README.md
Due: update-readme-help

Inject secrets into sidecar
  README.md
  cmd/cli/cmd/run.go
  docs/ARCHITECTURE.md
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports, update-readme-help

Revise description of Runvoy's functionality
  README.md
Due: update-readme-help

feat: Add STARTING and TERMINATING execution statuses
  docs/ARCHITECTURE.md
  internal/app/execution_test.go
  internal/app/executions.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/app/execution_test.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports, update-readme-help

Enhance execution state handling with new events (#226)
  README.md
  docs/ARCHITECTURE.md
  internal/app/execution_test.go
  internal/app/executions.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Better error handling for executions
  README.md
  internal/app/execution_test.go
  internal/app/executions.go
Due: go-fmt, go-imports, update-readme-help

Better error handling for executions (#229)
  README.md
  internal/app/execution_test.go
  internal/app/executions.go
Due: go-fmt, go-imports, update-readme-help

Enhance client state handling with smart polling
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run.go
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/stores/logs.js
  cmd/webapp/src/views/LogsView.svelte
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/webapp/src/views/LogsView.svelte
Due: go-fmt, go-imports, update-readme-help

Enhance client logic with expanded state handling (#228)
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run.go
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/stores/logs.js
  cmd/webapp/src/views/LogsView.svelte
Due: go-fmt, go-imports, update-readme-help

Fix cli logs state handling
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
Due: go-fmt, go-imports, update-readme-help

Fix logs, add missing RUNNING state to ECS event filter
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/webapp/src/stores/logs.js
  cmd/webapp/src/views/LogsView.svelte
  deploy/providers/aws/cloudformation-backend.yaml
Due: go-fmt, go-imports, update-readme-help

Increase unit test coverage from 34.7% to 35.8%
  internal/api/executions_test.go
  internal/api/images_test.go
  internal/api/logs_test.go
  internal/api/secrets_test.go
  internal/api/types_test.go
  internal/api/users_test.go
  internal/api/websocket_test.go
  internal/app/events/backend_test.go
  internal/config/aws/config_test.go
  internal/database/secrets_test.go
  internal/providers/aws/constants/logstream_test.go
  internal/providers/aws/secrets/manager_test.go
Due: go-fmt, go-imports

Increase unit test coverage from 34.7% to 35.8% (#230)
  internal/api/executions_test.go
  internal/api/images_test.go
  internal/api/logs_test.go
  internal/api/secrets_test.go
  internal/api/types_test.go
  internal/api/users_test.go
  internal/api/websocket_test.go
  internal/app/events/backend_test.go
  internal/config/aws/config_test.go
  internal/database/secrets_test.go
  internal/providers/aws/constants/logstream_test.go
  internal/providers/aws/secrets/manager_test.go
Due: go-fmt, go-imports

logs
  README.md
  internal/app/events/init.go
  internal/app/init.go
Due: go-fmt, go-imports, update-readme-help

feat: Add playbook functionality
  README.md
  cmd/cli/cmd/playbook.go
  cmd/cli/cmd/playbook_test.go
  internal/api/playbooks.go
  internal/constants/constants.go
  internal/playbooks/executor.go
  internal/playbooks/executor_test.go
  internal/playbooks/loader.go
  internal/playbooks/loader_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/playbook.go
  cmd/cli/cmd/playbook_test.go
  internal/playbooks/executor.go
  internal/playbooks/loader.go
  internal/playbooks/loader_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  .runvoy.yaml.example
  .runvoy/example.yml
  README.md
  cmd/cli/cmd/playbook.go
  cmd/cli/cmd/playbook_test.go
  internal/client/playbooks/executor.go
  internal/client/playbooks/executor_test.go
  internal/client/playbooks/loader.go
  internal/client/playbooks/loader_test.go
Due: go-fmt, go-imports, update-readme-help

Implement playbook feature and manage to-dos (#232)
  .runvoy.yaml.example
  .runvoy/example.yml
  README.md
  cmd/cli/cmd/playbook.go
  cmd/cli/cmd/playbook_test.go
  internal/api/playbooks.go
  internal/client/playbooks/executor.go
  internal/client/playbooks/executor_test.go
  internal/client/playbooks/loader.go
  internal/client/playbooks/loader_test.go
  internal/constants/constants.go
Due: go-fmt, go-imports, update-readme-help

Fix cli logs output
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
Due: go-fmt, go-imports, update-readme-help

Update readme
  README.md
Due: update-readme-help

Update description
  README.md
  cmd/cli/cmd/images.go
Due: go-fmt, go-imports, update-readme-help

Refine README benefits and features sections
  README.md
Due: update-readme-help

Update playbook example
  .runvoy/example.yml
  .runvoy/terraform-example.yml
  README.md
Due: update-readme-help

Add favico
  README.md
  cmd/webapp/src/app.html
Due: update-readme-help

Update README.md
  README.md
Due: update-readme-help

Simplify logs command: replace mutex-protected slice with channels
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

Simplify logs command implementation (#234)
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

Better logging for kill
  README.md
  internal/app/executions.go
Due: go-fmt, go-imports, update-readme-help

Add truncate tables helper
  README.md
  internal/constants/constants.go
  justfile
  scripts/truncate-dynamodb-table/main.go
Due: go-fmt, go-imports, update-readme-help

Fix cli log hang
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Improve execution termination and idempotency handling
  internal/app/executions.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
Due: go-fmt, go-imports

Refactor: Improve DynamoDB update expression logic
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
Due: go-fmt, go-imports

Add warning when DynamoDB update doesn't modify existing item
  internal/providers/aws/database/dynamodb/executions.go
Due: go-fmt, go-imports

Fix DynamoDB timestamp marshaling issue causing silent UpdateExecution failures
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
Due: go-fmt, go-imports, update-readme-help
