Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Fix backlog delivery to connected clients
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Handle stale WebSocket connections gracefully (410 Gone)
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Implement client-driven backlog replay via getBacklog message
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Implement client-driven backlog request in webapp
  README.md
  cmd/webapp/src/lib/websocket.js
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

Implement client-driven backlog request for CLI logs command
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

Add comprehensive integration tests for logs endpoint and backlog delivery
  README.md
  internal/server/handlers_test.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

Remove unused websocket route
  README.md
  docs/ARCHITECTURE.md
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

Fix missing logs when task is running
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  docs/ARCHITECTURE.md
  internal/app/execution_test.go
  internal/app/main.go
Due: go-fmt, go-imports, update-readme-help

New tokens flow
  README.md
  deployments/cloudformation-backend.yaml
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/dynamodb/tokens.go
  internal/database/repository.go
  internal/events/processor.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Rename ClientIPAtLogsTime to ClientIPAtCreationTime
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/tokens.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/api/types.go
  internal/database/dynamodb/connections.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/database/dynamodb/tokens.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/api/types.go
  internal/database/dynamodb/connections.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/app/main.go
Due: go-fmt, go-imports, update-readme-help

New tokens flow (#171)
  README.md
  deployments/cloudformation-backend.yaml
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/tokens.go
  internal/database/repository.go
  internal/events/processor.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports, update-readme-help

feat: Add exponential backoff to log stream verification
  internal/app/aws/logs.go
Due: go-fmt, go-imports

feat: Add STARTING and TERMINATING execution statuses
  README.md
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/styles/global.css
  docs/ARCHITECTURE.md
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/client/client_test.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Add backend provider configuration
  docs/ARCHITECTURE.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/config/config.go
  internal/config/config_test.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

Review provider extension readiness (#173)
  README.md
  docs/ARCHITECTURE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Move AWS event processor to dedicated provider
  cmd/backend/aws/event_processor/main.go
  cmd/local/main.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/events/providers/aws/processor.go
Due: go-fmt, go-imports

Remove lock feature from codebase
  cmd/webapp/src/views/RunView.svelte
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/executions_test.go
Due: go-fmt, go-imports

bump deps
  README.md
  go.mod
  go.sum
Due: update-readme-help

Remove lock feature from codebase (#177)
  cmd/webapp/src/views/RunView.svelte
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/executions_test.go
Due: go-fmt, go-imports

Decouple event processor from AWS
  cmd/backend/aws/event_processor/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/events/aws/backend.go
  internal/events/aws/backend_test.go
  internal/events/aws/types.go
  internal/events/backend.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/init.go
  internal/events/processor.go
Due: go-fmt, go-imports

Use cfg.BackendProvider instead of hardcoding constants.AWS
  cmd/backend/aws/event_processor/main.go
Due: go-fmt, go-imports

Remove redundant provider parameter from events.Initialize()
  cmd/backend/aws/event_processor/main.go
  internal/events/init.go
Due: go-fmt, go-imports

Remove backward compatibility functions
  internal/events/aws/backend.go
  internal/events/events_test.go
  internal/events/init.go
Due: go-fmt, go-imports

Decouple event processor from AWS dependencies (#189)
  cmd/backend/aws/event_processor/main.go
  internal/config/config.go
  internal/config/config_test.go
  internal/events/aws/backend.go
  internal/events/aws/backend_test.go
  internal/events/aws/types.go
  internal/events/backend.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/init.go
  internal/events/processor.go
Due: go-fmt, go-imports

Fix lint
  README.md
  cmd/local/main.go
  internal/events/backend.go
  internal/events/events_test.go
  internal/events/init.go
Due: go-fmt, go-imports, update-readme-help

Decouple WebSocket manager from AWS API Gateway
  internal/events/init.go
  internal/websocket/aws/backend.go
  internal/websocket/backend.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go.skip
Due: go-fmt, go-imports

Decouple WebSocket manager from AWS dependencies
  internal/events/init.go
  internal/websocket/aws/manager.go
  internal/websocket/aws/manager_test.go
  internal/websocket/manager.go
Due: go-fmt, go-imports

Decouple WebSocket manager from AWS dependencies (#192)
  internal/events/init.go
  internal/websocket/aws/manager.go
  internal/websocket/aws/manager_test.go
  internal/websocket/manager.go
Due: go-fmt, go-imports

logs
  README.md
  internal/events/init.go
  internal/websocket/aws/manager.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Organize provider-specific code into providers/aws directory
  cmd/backend/providers/aws/event_processor/main.go
  cmd/backend/providers/aws/orchestrator/main.go
  deploy/providers/aws/cloudformation-backend.yaml
  deploy/providers/aws/runvoy-bucket.yaml
  docs/ARCHITECTURE.md
  docs/PROJECT_ANALYSIS.md
  docs/ROADMAP.md
  docs/TESTING_EXAMPLES.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  internal/app/init.go
  internal/app/main.go
  internal/events/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/runner_test.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/connections_test.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/tokens.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
  internal/providers/aws/events/types.go
  justfile
Due: go-fmt, go-imports

Refactor: Organize provider-specific code into providers/aws directory (#193)
  cmd/backend/providers/aws/event_processor/main.go
  cmd/backend/providers/aws/orchestrator/main.go
  deploy/providers/aws/cloudformation-backend.yaml
  deploy/providers/aws/runvoy-bucket.yaml
  docs/ARCHITECTURE.md
  docs/PROJECT_ANALYSIS.md
  docs/ROADMAP.md
  docs/TESTING_EXAMPLES.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  internal/app/init.go
  internal/app/main.go
  internal/events/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/runner_test.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/connections_test.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/tokens.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
  internal/providers/aws/events/types.go
  justfile
Due: go-fmt, go-imports

Refactor remove status polling ff0fe (#194)
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/lib/websocket.js
  cmd/webapp/src/views/LogsView.svelte
Due: none
