Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Implement CloudWatch Logs streaming to WebSocket connections (#159)
  README.md
  cmd/cli/cmd/logs.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Update docs
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Logs
  README.md
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

Add local async event processor server
  README.md
  cmd/local-async/README.md
  cmd/local-async/examples/ecs-task-completion.json
  cmd/local-async/examples/test.sh
  cmd/local-async/examples/websocket-event.json
  cmd/local-async/main.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Refactor: Unify local development server to run both services
  README.md
  cmd/local-async/main.go
  cmd/local-async/server/server.go
  cmd/local/main.go
Due: go-fmt, go-imports, update-readme-help

Consolidate local development server under cmd/local
  README.md
  cmd/local-async/README.md
  cmd/local-async/examples/ecs-task-completion.json
  cmd/local-async/examples/test.sh
  cmd/local-async/examples/websocket-event.json
  cmd/local-async/main.go
  cmd/local-async/server/server.go
  cmd/local/main.go
  internal/config/config.go
  internal/config/config_test.go
  justfile
Due: go-fmt, go-imports, update-readme-help

wip
  .gitignore
  README.md
  cmd/local/README.md
  cmd/local/examples/ecs-task-completion.json
  cmd/local/examples/test.sh
  cmd/local/examples/websocket-event.json
  cmd/local/server/server.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/local/examples/test.sh
Due: update-readme-help

Feature/local async server (#160)
  .gitignore
  README.md
  cmd/local/README.md
  cmd/local/examples/ecs-task-completion.json
  cmd/local/examples/test.sh
  cmd/local/examples/websocket-event.json
  cmd/local/main.go
  cmd/local/server/server.go
  internal/config/config.go
  internal/config/config_test.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Logs
  README.md
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

Add auth to websocket
  README.md
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/auth/apikey.go
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/events_test.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

Add authentication mechanism to websocket endpoint (#161)
  README.md
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/auth/apikey.go
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/events_test.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

Logs
  README.md
  cmd/cli/cmd/logs.go
  internal/app/init.go
  internal/database/dynamodb/connections.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Rename client variable to 'c' for brevity
  internal/client/client_test.go
Due: go-fmt, go-imports

feat: Add comprehensive tests for client API methods
  internal/client/client_test.go
Due: go-fmt, go-imports

Refactor: Ignore errors from Write and Encode calls
  internal/client/client_test.go
Due: go-fmt, go-imports

lint
  README.md
  internal/client/client_test.go
Due: go-fmt, go-imports, update-readme-help

Improve internal unit test coverage incrementally (#148)
  README.md
  internal/client/client_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Add last_seen_timestamp to execution logs API
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

feat: filter logs via cloudwatch cursor
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

mod tidy
  README.md
  go.mod
  go.sum
Due: update-readme-help

fix: update log streaming to include webURL and executionID parameters
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
Due: go-fmt, go-imports

wip
  README.md
Due: update-readme-help

fix: update log streaming to include webURL and executionID parameters (#164)
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
Due: go-fmt, go-imports, update-readme-help

update readme
  README.md
Due: update-readme-help

feat: Add real-time WebSocket log streaming
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Update readme
  README.md
Due: update-readme-help

Update readme
  README.md
  runvoy-demo.cast
  runvoy-demo.gif
Due: update-readme-help

bump logs max retries
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

update README.md
  README.md
Due: update-readme-help

Refactor: Use function types for config interfaces
  cmd/cli/cmd/claim.go
  cmd/cli/cmd/configure.go
  cmd/cli/cmd/configure_test.go
Due: go-fmt, go-imports

Refactor: Use function types for config interfaces (#166)
  cmd/cli/cmd/claim.go
  cmd/cli/cmd/configure.go
  cmd/cli/cmd/configure_test.go
Due: go-fmt, go-imports

Revise components description in README.md
  README.md
Due: update-readme-help

Fix wrong sidecar log stream prefix
  internal/app/aws/taskdef.go
  internal/constants/constants.go
Due: go-fmt, go-imports

fix: remove redundant config validation
  internal/app/init.go
Due: go-fmt, go-imports

add AGENTS.md
  .cursorrules
  AGENTS.md
Due: none
