Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  GITHUB_ISSUES.md
  docs/ROADMAP.md
Due: none

wip
  internal/events/ecs_completion.go
  internal/events/processor.go
Due: go-fmt, go-imports

do not omit exit code
  internal/api/types.go
Due: go-fmt, go-imports

wip
  README.md
Due: update-readme-help

fix logger
  internal/logger/context.go
Due: go-fmt, go-imports

fix log
  internal/server/middleware.go
Due: go-fmt, go-imports

wip
  internal/server/middleware.go
Due: go-fmt, go-imports

wip
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/logger/context.go
Due: go-fmt, go-imports

fix ecs createdAt
  internal/app/aws/runner.go
  internal/app/main.go
  internal/server/middleware.go
Due: go-fmt, go-imports

logs
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/app/main.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/server/middleware.go
Due: go-fmt, go-imports

fix lastUser log
  internal/app/main.go
  internal/database/dynamodb/users.go
  internal/database/repository.go
  internal/server/middleware.go
Due: go-fmt, go-imports

Improve dev logger formatting for nested maps
  internal/logger/logger.go
Due: go-fmt, go-imports

Improve dev logger formatting for nested maps (#81)
  internal/logger/logger.go
Due: go-fmt, go-imports

wip
  internal/logger/logger.go
Due: go-fmt, go-imports

Refactor: Improve .env sync logic and formatting (#51)
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

wip
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

wip
  internal/app/init.go
Due: go-fmt, go-imports

Improve test coverage infrastructure and documentation
  docs/TESTING_EXAMPLES.md
  docs/TESTING_QUICKSTART.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  go.mod
  go.sum
  internal/auth/apikey_test.go
  internal/testutil/assert.go
  internal/testutil/fixtures.go
Due: go-fmt, go-imports

wip
  justfile
Due: none

wip
  internal/app/main.go
Due: go-fmt, go-imports

Add comprehensive guide on preventing test coverage regression
  docs/COVERAGE_REGRESSION_PREVENTION.md
Due: none

Improve and organize test coverage (#82)
  docs/COVERAGE_REGRESSION_PREVENTION.md
  docs/TESTING_EXAMPLES.md
  docs/TESTING_QUICKSTART.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  go.mod
  go.sum
  internal/auth/apikey_test.go
  internal/testutil/assert.go
  internal/testutil/fixtures.go
Due: go-fmt, go-imports

feat: Add tests for service layer
  go.mod
  go.sum
  internal/app/main_test.go
Due: go-fmt, go-imports

feat: Add tests for service layer (#83)
  go.mod
  go.sum
  internal/app/main_test.go
Due: go-fmt, go-imports

Revert "feat: Add tests for service layer (#83)"
  go.mod
  go.sum
  internal/app/main_test.go
Due: go-fmt, go-imports

Fix started_at handling in event processor
  ARCHITECTURE.md
  README.md
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

feat: Migrate configuration management from caarlos0/env to Viper
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  cmd/local/main.go
  go.mod
  go.sum
  internal/app/init.go
  internal/config/config.go
  internal/config/env.go
  internal/events/processor.go
Due: go-fmt, go-imports

feat: Migrate configuration management from caarlos0/env to Viper (#84)
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  cmd/local/main.go
  go.mod
  go.sum
  internal/app/init.go
  internal/config/config.go
  internal/config/env.go
  internal/events/processor.go
Due: go-fmt, go-imports

Move architecture doc under docs/
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

fix: Fix environment variable binding to match mapstructure tags
  internal/config/config.go
Due: go-fmt, go-imports

fix: Restore validation for orchestrator and event processor configs
  internal/config/config.go
Due: go-fmt, go-imports

fix: Remove premature validation from config loaders
  internal/config/config.go
Due: go-fmt, go-imports

Fix Viper env var names (#85)
  internal/config/config.go
Due: go-fmt, go-imports

Cleanup justfile from unused tasks
  README.md
  docs/ARCHITECTURE.md
  justfile
Due: update-readme-help

Enforce Go 1.25
  .cursorrules
  .github/workflows/ci.yml
  README.md
  go.mod
Due: update-readme-help

Update README
  README.md
Due: update-readme-help

Refactor README: simplify .env file explanation
  README.md
Due: update-readme-help
