Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  cmd/runvoy/cmd/images.go
Due: go-fmt, go-imports

wip
  docs/ARCHITECTURE.md
  justfile
Due: none

wip
  cmd/runvoy/cmd/run.go
  internal/app/aws/runner.go
Due: go-fmt, go-imports

Respond to create pull request (#97)
  .cursorrules
  README.md
  cmd/local/main.go
  cmd/runvoy/cmd/images.go
  cmd/runvoy/cmd/run.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/api/types.go
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/init.go
  internal/app/main.go
  internal/client/client.go
  internal/config/config.go
  internal/constants/constants.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/router.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Bump VERSION
  README.md
  VERSION
Due: update-readme-help

Better error handling
  deployments/cloudformation-backend.yaml
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/server/handlers.go
Due: go-fmt, go-imports

Update README.md
  README.md
Due: update-readme-help

Fix failing tests and improve test coverage
  go.mod
  internal/config/config_test.go
  internal/constants/constants_test.go
  internal/errors/errors_test.go
  internal/logger/logger_test.go
  internal/server/handlers_status_test.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Add documentation and project assessment files
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/DOCUMENTATION_INDEX.md
  docs/PROJECT_ASSESSMENT_2025_11_02.md
  docs/ROADMAP.md
Due: update-readme-help

Fix go.mod: restore Go version to 1.25.0
  go.mod
Due: none

Fix failing tests and improve test coverage (#98)
  internal/config/config_test.go
  internal/constants/constants_test.go
  internal/errors/errors_test.go
  internal/logger/logger_test.go
  internal/server/handlers_status_test.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

feat: Add project documentation and structure
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/DOCUMENTATION_INDEX.md
  docs/PROJECT_ASSESSMENT_2025_11_02.md
  docs/ROADMAP.md
  docs/STATUS.md
Due: update-readme-help

Remove unused STATUS.md file
  docs/STATUS.md
Due: none

Refactor app layer to separate business logic from infrastructure
  internal/app/main.go
  internal/server/handlers_status_test.go
Due: go-fmt, go-imports

Refactor app layer to separate business logic from infrastructure (#100)
  internal/app/main.go
  internal/server/handlers_status_test.go
Due: go-fmt, go-imports

Add comprehensive test coverage for internal/app package
  internal/app/execution_test.go
  internal/app/image_test.go
  internal/app/main_test.go
  internal/app/mocks_test.go
Due: go-fmt, go-imports

Add comprehensive test coverage for internal/app package (#101)
  internal/app/execution_test.go
  internal/app/image_test.go
  internal/app/main_test.go
  internal/app/mocks_test.go
Due: go-fmt, go-imports

Simplify list, use scan to avoid unnecessary loops
  cmd/local/main.go
  internal/app/init.go
  internal/database/dynamodb/executions.go
  internal/server/middleware.go
Due: go-fmt, go-imports

wip
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Improve test coverage and fix client IP extraction
  internal/database/dynamodb/executions_test.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Improve test coverage and fix client IP extraction (#102)
  internal/database/dynamodb/executions_test.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Add GET /users endpoint to list all users
  internal/api/types.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/database/dynamodb/users.go
  internal/database/repository.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports

Add documentation for listing users endpoint
  docs/ARCHITECTURE.md
Due: none

Add CLI command for listing users
  cmd/runvoy/cmd/list_users.go
  internal/client/client.go
Due: go-fmt, go-imports

Document users list command in README
  README.md
Due: update-readme-help

wip
  cmd/runvoy/cmd/create_user.go
  cmd/runvoy/cmd/list_users.go
  cmd/runvoy/cmd/revoke_user.go
  cmd/runvoy/cmd/users.go
Due: go-fmt, go-imports

Add GET /users endpoint (#104)
  README.md
  cmd/runvoy/cmd/create_user.go
  cmd/runvoy/cmd/revoke_user.go
  cmd/runvoy/cmd/users.go
  docs/ARCHITECTURE.md
  internal/api/types.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/database/dynamodb/users.go
  internal/database/repository.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

Sort GET /users output
  internal/app/main.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Refactor: Update directory structure and clarify AWS lambda entry point
  docs/ARCHITECTURE.md
Due: none

feat: Improve request ID generation and handling
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Refactor requestIDMiddleware for clarity and conciseness
  internal/server/middleware.go
Due: go-fmt, go-imports

Refactor: Use crypto/rand for request ID generation
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Replace custom Lambda-Chi adapter with algnhsa library
  cmd/backend/aws/orchestrator/main.go
  go.mod
  go.sum
  internal/lambdaapi/adapter.go
  internal/lambdaapi/handler.go
Due: go-fmt, go-imports

Handle request id middleware (#105)
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Update architecture docs to reflect algnhsa usage
  docs/ARCHITECTURE.md
Due: none

Build custom Lambda-Chi router adapter (#106)
  cmd/backend/aws/orchestrator/main.go
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/lambdaapi/adapter.go
  internal/lambdaapi/handler.go
Due: go-fmt, go-imports

Refactor: Update directory structure and clarify AWS lambda entry point (#107)
  docs/ARCHITECTURE.md
Due: none

Tests added:
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports

Add tests for events
  internal/events/events_test.go
Due: go-fmt, go-imports

Improve test coverage and fix linter errors (#60)
  cmd/backend/aws/orchestrator/main.go
  internal/config/config.go
  internal/errors/errors_test.go
  internal/server/handlers_test.go
  internal/testutil/assert.go
  scripts/create-config-file/main.go
  scripts/sync-env-vars/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports
