Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Cleanup pre-commit handling
  .gitignore
  .pre-commit-config.yaml
  README.md
  coverage.html
  coverage.out
  docs/ARCHITECTURE.md
  justfile
Due: update-readme-help

Add MIT license file
  LICENSE
Due: none

Add MIT license file (#133)
  LICENSE
Due: none

Use silent logger in test suite to suppress log output
  internal/app/mocks_test.go
  internal/client/client_test.go
  internal/database/dynamodb/executions_test.go
  internal/events/events_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Fix gh workflow
  .github/workflows/golangci-lint.yml
  README.md
Due: update-readme-help

Fix gh workflow
  .github/workflows/golangci-lint.yml
  README.md
  go.mod
Due: update-readme-help

Fix gh workflow
  .github/workflows/ci.yml
  .github/workflows/golangci-lint.yml
  README.md
  go.mod
Due: update-readme-help

Update .cursorrules
  .cursorrules
Due: none

Fix linter issues in test files
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Test null logger injection feasibility (#132)
  README.md
  go.mod
  internal/app/mocks_test.go
  internal/client/client_test.go
  internal/database/dynamodb/executions_test.go
  internal/events/events_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

Extend test coverage from 34.8% to 35.8%
  coverage.html
  coverage.out
  internal/auth/apikey_test.go
  internal/events/events_test.go
  internal/output/output_test.go
Due: go-fmt, go-imports

Fix golangci-lint issues in test files
  internal/auth/apikey_test.go
  internal/events/events_test.go
  internal/output/output_test.go
Due: go-fmt, go-imports

Extend test coverage from 34.8% to 35.8% (#134)
  coverage.html
  coverage.out
  internal/auth/apikey_test.go
  internal/events/events_test.go
  internal/output/output_test.go
Due: go-fmt, go-imports

Remove coverage
  .gitignore
  README.md
  coverage.html
  coverage.out
Due: update-readme-help

docs: Analyze output package testing alternatives
  docs/OUTPUT_PACKAGE_TESTING_ALTERNATIVES.md
Due: none

Separate logs (stderr) from data output (stdout)
  internal/output/output.go
  internal/output/output_test.go
Due: go-fmt, go-imports

Separate logs (stderr) from data output (stdout) (#136)
  internal/output/output.go
  internal/output/output_test.go
Due: go-fmt, go-imports

Make README headline more punchy and engineer-focused
  README.md
Due: update-readme-help

Make README headline more punchy and engineer-focused (#137)
  README.md
Due: update-readme-help

Document stdout/stderr separation in README
  README.md
Due: update-readme-help

Claude/separate logs and output 011 c ums3 j79ck c xu v uk tojdw (#139)
  README.md
Due: update-readme-help

feat: add WebSocket support for real-time log streaming
  cmd/backend/aws/orchestrator/main.go
  cmd/backend/aws/websocket/connection_manager/main.go
  cmd/backend/aws/websocket/log_forwarder/main.go
  cmd/local/main.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/config/config.go
  internal/lambdaapi/handler.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
  justfile
Due: go-fmt, go-imports

wip
  README.md
  cmd/backend/aws/orchestrator/main.go
  cmd/backend/aws/websocket/connection_manager/main.go
  cmd/backend/aws/websocket/log_forwarder/main.go
  cmd/local/main.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  go.mod
  go.sum
  internal/config/config.go
  internal/lambdaapi/handler.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
  justfile
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/backend/aws/websocket/connection_manager/main.go
  cmd/backend/aws/websocket/log_forwarder/main.go
  justfile
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deployments/cloudformation-backend.yaml
  justfile
Due: update-readme-help

wip
  README.md
  internal/app/aws/logs.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  justfile
Due: update-readme-help

wip
  README.md
  internal/api/types.go
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/websocket/connection_manager.go
  justfile
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/dynamodb/connections_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/websocket/connection_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/backend/aws/websocket/log_forwarder/main.go
  go.mod
  go.sum
  internal/app/main.go
  internal/config/config.go
  internal/database/dynamodb/connections.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/dynamodb/connections.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/logs_test.go
  cmd/webviewer/index.html
  internal/api/types.go
  internal/app/aws/logs.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  .gitignore
  README.md
Due: update-readme-help

wip
  README.md
  internal/app/aws/logs.go
  internal/config/config.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/websocket/connection_manager.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/config/config.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deployments/cloudformation-backend.yaml
Due: update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
