Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

fix: parse cors env var correctly
  README.md
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

refactor: split Runner interface into focused interfaces
  MIGRATION_GUIDE.md
  internal/backend/orchestrator/image_config.go
  internal/backend/orchestrator/image_config_test.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports

docs: analyze Runner interface design
  runner-interface-analysis.md
Due: none

refactor: remove Runner interface backward compatibility
  MIGRATION_GUIDE.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/image_config.go
  internal/backend/orchestrator/image_config_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/server/authorization_test.go
  internal/server/handlers_test.go
  runner-interface-analysis.md
Due: go-fmt, go-imports

Remove deprecated Architecture field from RuntimeConfig
  internal/backend/orchestrator/image_config.go
Due: go-fmt, go-imports

Refactor: Rename TaskExecutor to TaskManager
  MIGRATION_GUIDE.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/authorization_test.go
  internal/server/handlers_test.go
  runner-interface-analysis.md
Due: go-fmt, go-imports

docs: update architecture diagram with health reconciler cronjob
  docs/ARCHITECTURE.md
Due: none

Refactor: Split LogAggregator and BackendObservability interfaces
  MIGRATION_GUIDE.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/authorization_test.go
  internal/server/handlers_test.go
  runner-interface-analysis.md
Due: go-fmt, go-imports

Refactor: Update mockRunner to implement multiple interfaces
  internal/backend/orchestrator/mocks_test.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports

Refactor: Remove unused runner dependencies in execution tests
  internal/backend/orchestrator/execution_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/executions_trace_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/init.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/interfaces/interfaces.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/providers/aws/orchestrator/init.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/contract/interfaces.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/providers/aws/orchestrator/init.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  .github/dependabot.yml
  README.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/database/repository.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/init.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/contract/interfaces.go
  internal/backend/orchestrator/contract/interfaces.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/health.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/health/compute.go
  internal/providers/aws/health/identity.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/health/secrets.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/cloud_events.go
  internal/providers/aws/processor/init.go
  internal/server/handlers_health.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/health.go
  internal/api/health.go
  internal/api/health_test.go
  internal/backend/contract/interfaces.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/health.go
  internal/backend/orchestrator/images_test.go
  internal/client/client_test.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/health/compute.go
  internal/providers/aws/health/identity.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/health/secrets.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/handlers_health.go
  internal/server/handlers_test.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/init.go
  internal/providers/aws/orchestrator/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

wip
  MIGRATION_GUIDE.md
  README.md
  runner-interface-analysis.md
Due: update-readme-help

wip
  README.md
  runvoy-demo.cast
  runvoy-demo.gif
Due: update-readme-help

docs: update architecture.md
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

tool: add our own axiom forwarder
  .justfiles/build.just
  .justfiles/deploy.just
  .justfiles/infra.just
  README.md
  deploy/axiom/axiom-forwarder-prerequisites.yaml
  deploy/axiom/axiom-forwarder.yaml
  justfile
  scripts/axiom-forwarder/main.go
Due: go-fmt, go-imports, update-readme-help

refactor: implement context-aware logging across all packages
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/enforcer_test.go
  internal/auth/authorization/hydrate.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/client/client.go
  internal/server/authorization_test.go
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports

Pass context to authorization enforcer methods
  internal/auth/authorization/enforcer_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/users.go
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
Due: go-fmt, go-imports

wip
  README.md
  internal/auth/authorization/enforcer.go
  internal/client/client.go
  internal/server/handlers_executions.go
Due: go-fmt, go-imports, update-readme-help

refactor: implement context-aware logging across all packages (#323)
  README.md
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/enforcer_test.go
  internal/auth/authorization/hydrate.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/users.go
  internal/client/client.go
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

docs: update readme
  README.md
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

fix: clean up CloudWatch Logs Insights query formatting
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

fix: clean up CloudWatch Logs Insights query formatting (#325)
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

docs: add Conventional Commits v1.0.0 specification to guidelines
  AGENTS.md
  CONTRIBUTING.md
Due: none

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
