Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Remove cost tracking functionality and related code
  README.md
  docs/ARCHITECTURE.md
  docs/PROJECT_ANALYSIS.md
  docs/ROADMAP.md
  docs/TESTING_STRATEGY.md
  internal/api/types.go
  internal/database/dynamodb/executions.go
  internal/events/cost.go
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

lint
  internal/app/aws/logs.go
Due: go-fmt, go-imports

Refactor README: simplify .env file explanation (#86)
  README.md
Due: update-readme-help

Add elapsed to CLI
  cmd/runvoy/cmd/root.go
  internal/constants/constants.go
Due: go-fmt, go-imports

Refactor API key claiming to use tokens instead of URLs
  cmd/runvoy/cmd/create_user.go
  docs/ARCHITECTURE.md
  internal/api/types.go
  internal/app/main.go
  internal/server/handlers.go
Due: go-fmt, go-imports

hotfix
  internal/server/handlers.go
Due: go-fmt, go-imports

Refactor: Move pending API key logic to UserRepository
  internal/app/init.go
  internal/app/main.go
  internal/database/dynamodb/pending_keys.go
  internal/database/dynamodb/users.go
  internal/database/repository.go
Due: go-fmt, go-imports

Refactor: Improve user onboarding and claim token flow
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Enhance user creation process and API key management (#89)
  README.md
  cmd/runvoy/cmd/claim.go
  cmd/runvoy/cmd/create_user.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/api/types.go
  internal/app/init.go
  internal/app/main.go
  internal/auth/apikey.go
  internal/client/client.go
  internal/config/config.go
  internal/constants/constants.go
  internal/database/dynamodb/users.go
  internal/database/repository.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/middleware_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

Remove cost tracking functionality and related code (#88)
  README.md
  docs/ARCHITECTURE.md
  docs/PROJECT_ANALYSIS.md
  docs/ROADMAP.md
  docs/TESTING_STRATEGY.md
  internal/api/types.go
  internal/database/dynamodb/executions.go
  internal/events/cost.go
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

Remove obsolete example file
  .env.example
Due: none

feat: Pass environment variables to Fargate task
  docs/ARCHITECTURE.md
  internal/app/aws/runner.go
Due: go-fmt, go-imports

Improve debug log for event processor
  internal/events/processor.go
Due: go-fmt, go-imports

Refactor: Improve runner and git-cloner environment setup
  docs/ARCHITECTURE.md
  internal/app/aws/runner.go
  internal/app/aws/runner_test.go
Due: go-fmt, go-imports

Update README
  README.md
Due: update-readme-help

feat: Add task definition registry and image registration
  cmd/runvoy/cmd/admin.go
  deployments/cloudformation-backend.yaml
  internal/api/types.go
  internal/app/aws/runner.go
  internal/app/init.go
  internal/app/main.go
  internal/client/client.go
  internal/config/config.go
  internal/database/dynamodb/taskdefs.go
  internal/database/repository.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/middleware_test.go
  internal/server/router.go
Due: go-fmt, go-imports

Simplify task definitions with persistent sidecar
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/app/aws/runner.go
  internal/app/init.go
  internal/config/config.go
  internal/constants/constants.go
Due: go-fmt, go-imports

wip
  deployments/cloudformation-backend.yaml
Due: none

wip
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
Due: none

wip
  docs/ARCHITECTURE.md
Due: none

wip
  internal/app/aws/runner.go
Due: go-fmt, go-imports

wip
  internal/app/init.go
Due: go-fmt, go-imports

wip
  internal/config/config.go
Due: go-fmt, go-imports

Simplify task definitions with persistent sidecar (#94)
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/app/aws/runner.go
  internal/app/init.go
  internal/config/config.go
  internal/constants/constants.go
Due: go-fmt, go-imports

Fix cloudformation
  deployments/cloudformation-backend.yaml
Due: none

Add env handling to run cmd
  cmd/runvoy/cmd/run.go
  internal/app/aws/runner.go
Due: go-fmt, go-imports

Feat: Add execution ID input and history support
  cmd/webviewer/index.html
Due: none

Update webviewer for dynamic ID support
  cmd/webviewer/index.html
Due: none

Update sidecar container command and architecture documentation
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/app/aws/runner.go
  internal/constants/constants.go
Due: go-fmt, go-imports

Update sidecar container command (#96)
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/app/aws/runner.go
  internal/constants/constants.go
Due: go-fmt, go-imports

Cleanup log
  internal/server/middleware.go
Due: go-fmt, go-imports

Cmd log color
  cmd/runvoy/cmd/run.go
Due: go-fmt, go-imports

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
