Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

test: improve test coverage for internal/client package
  internal/client/client_test.go
  internal/client/infra/deploy_aws_test.go
  internal/client/infra/deploy_test.go
  internal/client/infra/users_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/client/client_test.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_aws_test.go
  internal/client/infra/deploy_test.go
  internal/client/infra/users_test.go
Due: go-fmt, go-imports, update-readme-help

test: improve test coverage for internal/client package
  README.md
  internal/client/client_test.go
  internal/client/infra/deploy_aws.go
  internal/client/infra/deploy_aws_test.go
  internal/client/infra/deploy_test.go
  internal/client/infra/users_test.go
Due: go-fmt, go-imports, update-readme-help

refactor: simplify execution delete endpoint from /kill to root path
  cmd/webapp/src/lib/api.js
  internal/client/client.go
  internal/client/client_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports

docs: update architecture documentation for simplified execution delete endpoint
  docs/ARCHITECTURE.md
Due: none

Fix: Handle empty execution ID in kill execution endpoint
  internal/client/client_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/client/client_test.go
Due: go-fmt, go-imports, update-readme-help

refactor: simplify execution delete endpoint from /kill to root path
  README.md
  cmd/webapp/src/lib/api.js
  docs/ARCHITECTURE.md
  internal/client/client.go
  internal/client/client_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

style: update README badges
  .justfiles/deploy.just
  README.md
Due: update-readme-help

style: add spinner to infra output
  README.md
  cmd/cli/cmd/infra.go
  internal/client/output/output.go
Due: go-fmt, go-imports, update-readme-help

refactor: migrate webapp to typescript
  .justfiles/lint.just
  README.md
  cmd/webapp/.eslintrc.json
  cmd/webapp/eslint.config.js
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/lib/ansi.js
  cmd/webapp/src/lib/ansi.ts
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/config.js
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/stores/execution.js
  cmd/webapp/src/stores/execution.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/stores/ui.js
  cmd/webapp/src/stores/ui.ts
  cmd/webapp/src/stores/websocket.js
  cmd/webapp/src/stores/websocket.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/types/stores.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/tsconfig.json
Due: update-readme-help

feat: add Phase 1 webapp features (claim, settings, kill execution)
  README.md
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/ui.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/SettingsView.svelte
Due: update-readme-help

test: add comprehensive unit test suite for webapp
  README.md
  cmd/webapp/COMPONENT_TESTING_GUIDE.md
  cmd/webapp/TEST_SETUP_SUMMARY.md
  cmd/webapp/eslint.config.js
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/lib/ansi.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/stores/config.test.ts
  cmd/webapp/src/stores/execution.test.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/ui.test.ts
  cmd/webapp/src/stores/websocket.test.ts
  cmd/webapp/vitest.config.ts
  cmd/webapp/vitest.setup.ts
Due: update-readme-help

test: add coverage report and @vitest/coverage-v8 dependency
  README.md
  cmd/webapp/.gitignore
  cmd/webapp/COVERAGE_ENFORCEMENT_GUIDE.md
  cmd/webapp/COVERAGE_QUICK_START.md
  cmd/webapp/COVERAGE_REPORT.md
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/vitest.config.ts
Due: update-readme-help

fix: webapp: use join to avoid path mismatch
  README.md
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/views/ClaimView.svelte
Due: update-readme-help

fix: webapp: unify layout widths across all views using Pico CSS patterns
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.svelte
Due: none

chore: update package-lock.json after npm install
  cmd/webapp/package-lock.json
Due: none

fix: inconsistent layout widths across views (#304)
  cmd/webapp/package-lock.json
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.svelte
Due: none

feat: standardize view layouts with consistent card styling
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: none

feat: standardize view layouts with consistent card styling (#305)
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: none

fix: webapp: better handle version string
  .justfiles/dev.just
  README.md
  cmd/webapp/src/app.html
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/vite.config.js
Due: update-readme-help

refactor: uniform request ID log
  README.md
  docs/ARCHITECTURE.md
  internal/constants/context.go
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

fix: address wrong deployment flow
  .justfiles/build.just
  .justfiles/deploy.just
  README.md
Due: update-readme-help

chore: webapp: update docs link
  README.md
  cmd/webapp/src/views/SettingsView.svelte
Due: update-readme-help

docs: evert add MkDocs scaffolding
  .gitignore
  .justfiles/dev.just
  README.md
  mkdocs.yml
Due: update-readme-help

docs: update readme
  CONTRIBUTING.md
  README.md
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

feat: handle seeded admin user with empty request IDs
  internal/client/infra/users.go
Due: go-fmt, go-imports

feat: add request ID tracking fields to API types
  internal/api/executions.go
  internal/api/images.go
  internal/api/secrets.go
  internal/api/users.go
Due: go-fmt, go-imports

Refactor: Rename RequestID to CreatedByRequestID for clarity
  internal/api/executions_test.go
  internal/providers/aws/database/dynamodb/executions_test.go
Due: go-fmt, go-imports

feat: extract and set request IDs in service layer
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/users.go
  internal/providers/aws/processor/ecs_events.go
Due: go-fmt, go-imports

feat: add request ID tracking to database layer
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports

wip
  README.md
  internal/api/executions_test.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports, update-readme-help

test: add comprehensive tests for request ID tracking
  internal/providers/aws/database/dynamodb/executions_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/database/dynamodb/executions_test.go
Due: go-fmt, go-imports, update-readme-help

feat: add request ID tracking fields
  README.md
  internal/api/executions.go
  internal/api/executions_test.go
  internal/api/images.go
  internal/api/secrets.go
  internal/api/users.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/users.go
  internal/client/infra/users.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/processor/ecs_events.go
Due: go-fmt, go-imports, update-readme-help

test: add type checking for webapp
  .justfiles/build.just
  .justfiles/lint.just
  .justfiles/test.just
  README.md
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: update-readme-help

style: cleanup handlers
  README.md
  internal/server/handlers_images.go
  internal/server/handlers_secrets.go
  internal/server/handlers_users.go
  internal/server/helpers.go
Due: go-fmt, go-imports, update-readme-help

docs: update readme/contrib
  CONTRIBUTING.md
  README.md
Due: update-readme-help

refactor: cleanup webapp routing
  README.md
  cmd/webapp/src/routes/+page.svelte
Due: update-readme-help

docs: cleanup readme
  README.md
Due: update-readme-help
