Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

wip
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: update-readme-help

wip
  CONTRIBUTING.md
  README.md
Due: update-readme-help

docs: add Conventional Commits v1.0.0 specification to guidelines
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: update-readme-help

docs: update folder structure in ARCHITECTURE.md to match actual codebase
  docs/ARCHITECTURE.md
Due: none

docs: update folder structure in ARCHITECTURE.md to match actual codebase (#329)
  docs/ARCHITECTURE.md
Due: none

perf(dynamodb): replace Scan with Query for GetExecutionsByRequestID
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
Due: go-fmt, go-imports, update-readme-help

docs: update architecture.md
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Refactor: Update health and contract interfaces and tests
  internal/backend/contract/interfaces_test.go
  internal/backend/health/health_test.go
  internal/backend/websocket/manager_test.go
  internal/providers/aws/constants/ecs_test.go
  internal/providers/aws/constants/infra_test.go
  internal/providers/aws/health/helpers_test.go
  internal/providers/aws/health/manager_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/contract/interfaces_test.go
  internal/backend/health/health_test.go
  internal/backend/websocket/manager_test.go
  internal/providers/aws/constants/infra_test.go
  internal/providers/aws/health/helpers_test.go
  internal/providers/aws/health/manager_test.go
Due: go-fmt, go-imports, update-readme-help

test: Improve unit test coverage and plan next steps (#330)
  README.md
  internal/backend/contract/interfaces_test.go
  internal/backend/health/health_test.go
  internal/backend/websocket/manager_test.go
  internal/providers/aws/constants/ecs_test.go
  internal/providers/aws/constants/infra_test.go
  internal/providers/aws/health/helpers_test.go
  internal/providers/aws/health/manager_test.go
Due: go-fmt, go-imports, update-readme-help

Add tests for error handling and configuration normalization
  internal/config/config_test.go
  internal/errors/errors_test.go
  internal/logger/logger_test.go
Due: go-fmt, go-imports

test: error handling and configuration normalization (#331)
  internal/config/config_test.go
  internal/errors/errors_test.go
  internal/logger/logger_test.go
Due: go-fmt, go-imports

fix(webapp): make API key optional in ConnectionManager for claim flow
  cmd/webapp/src/components/ConnectionManager.svelte
Due: none

test(webapp): add comprehensive unit tests for ConnectionManager
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ConnectionManager.test.ts
Due: none

wip
  README.md
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ConnectionManager.test.ts
Due: update-readme-help

fix(webapp): make API key optional in ConnectionManager for claim flow (#332)
  README.md
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ConnectionManager.test.ts
Due: update-readme-help

Test: Add tests for saveToPath, GetProviderIdentifier, GetDefaultStackName
  internal/config/config_test.go
Due: go-fmt, go-imports

Refactor: Align struct field names in config tests
  internal/config/config_test.go
Due: go-fmt, go-imports

test: utility functions for coverage (#333)
  internal/config/config_test.go
Due: go-fmt, go-imports

docs: update README.md
  README.md
Due: update-readme-help

fix: add missing perm to event processor
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

docs: update readme
  README.md
Due: update-readme-help

test: add more backen coverage
  README.md
  internal/backend/orchestrator/execution_test.go
  internal/providers/aws/processor/backend_test.go
Due: go-fmt, go-imports, update-readme-help

test(dynamodb): extend coverage
  README.md
  internal/providers/aws/database/dynamodb/connections_test.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/secrets_test.go
  internal/providers/aws/database/dynamodb/tokens_test.go
  internal/providers/aws/database/dynamodb/users_test.go
Due: go-fmt, go-imports, update-readme-help

tool: update release process to include stack
  .goreleaser.yaml
  .justfiles/release.just
  README.md
Due: update-readme-help

docs: add pg restore example
  .runvoy/pg-restore-example.yml
  README.md
Due: update-readme-help

refactor: split AWS Provider into specialized manager implementations
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/init.go
Due: go-fmt, go-imports, update-readme-help

refactor: split AWS Provider into specialized manager implementations
  README.md
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  go.mod
  go.sum
Due: update-readme-help

Refactor: Update mock processor and ECS event tests
  internal/providers/aws/lambdaapi/event_handler_test.go
  internal/providers/aws/processor/ecs_events_test.go
Due: go-fmt, go-imports

docs: add comprehensive test coverage analysis and improvement plan
  COVERAGE_ANALYSIS.md
  analyze_coverage.sh
  find_untested.sh
Due: none

test: add comprehensive tests for critical untested components
  internal/providers/aws/lambdaapi/event_handler_test.go
  internal/providers/aws/lambdaapi/handler_test.go
  internal/providers/aws/processor/ecs_events_test.go
  internal/server/handlers_health_test.go
  internal/server/handlers_users_test.go
Due: go-fmt, go-imports

wip
  docs/COVERAGE_ANALYSIS.md
  scripts/analyze_coverage.sh
  scripts/find_untested.sh
Due: none

wip
  docs/COVERAGE_ANALYSIS.md
Due: none

wip
  docs/TESTING_EXAMPLES.md
  docs/TESTING_QUICKSTART.md
  docs/TESTING_STRATEGY.md
Due: none

wip
  README.md
  internal/providers/aws/lambdaapi/event_handler.go
  internal/providers/aws/lambdaapi/event_handler_test.go
  internal/providers/aws/lambdaapi/handler.go
  internal/providers/aws/lambdaapi/handler_test.go
  internal/providers/aws/processor/ecs_events_test.go
  internal/server/handlers_health.go
  internal/server/handlers_health_test.go
  internal/server/handlers_test.go
  internal/server/handlers_users_test.go
  internal/testutil/fixtures.go
Due: go-fmt, go-imports, update-readme-help

test: add comprehensive tests for critical untested components
  README.md
  docs/COVERAGE_ANALYSIS.md
  docs/TESTING_EXAMPLES.md
  docs/TESTING_QUICKSTART.md
  docs/TESTING_STRATEGY.md
  internal/providers/aws/lambdaapi/event_handler.go
  internal/providers/aws/lambdaapi/event_handler_test.go
  internal/providers/aws/lambdaapi/handler.go
  internal/providers/aws/lambdaapi/handler_test.go
  internal/providers/aws/processor/ecs_events_test.go
  internal/server/handlers_health.go
  internal/server/handlers_health_test.go
  internal/server/handlers_test.go
  internal/server/handlers_users_test.go
  internal/testutil/fixtures.go
  scripts/analyze_coverage.sh
  scripts/find_untested.sh
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
