Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

Improve test coverage and fix linter errors (#60) (#109)
  cmd/backend/aws/orchestrator/main.go
  internal/config/config.go
  internal/errors/errors_test.go
  internal/server/handlers_test.go
  internal/testutil/assert.go
  scripts/create-config-file/main.go
  scripts/sync-env-vars/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

Fix additional revive linter errors
  cmd/runvoy/cmd/images.go
  cmd/runvoy/cmd/list.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/users.go
  internal/app/execution_test.go
  internal/app/image_test.go
  internal/app/init.go
  internal/app/main_test.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/constants/constants.go
  internal/errors/errors.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/lambdaapi/handler.go
  internal/logger/logger.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Fix additional revive linter errors (#110)
  cmd/runvoy/cmd/images.go
  cmd/runvoy/cmd/list.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/users.go
  internal/app/execution_test.go
  internal/app/image_test.go
  internal/app/init.go
  internal/app/main_test.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/constants/constants.go
  internal/errors/errors.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/lambdaapi/handler.go
  internal/logger/logger.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Cleanup logs
  internal/app/aws/logs.go
  internal/app/main.go
Due: go-fmt, go-imports

Fix indent-error-flow revive warning in taskdef.go
  internal/app/aws/taskdef.go
Due: go-fmt, go-imports

Fix indent-error-flow revive warning in taskdef.go (#111)
  internal/app/aws/taskdef.go
Due: go-fmt, go-imports

Refactor logger context API to fix unexported-return warning
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Refactor logger context API to fix unexported-return warning (#112)
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

Cleanup log
  internal/app/aws/logs.go
Due: go-fmt, go-imports

Fix 4 simple linter issues (unused, govet, goconst, noctx)
  internal/app/aws/taskdef.go
  internal/constants/constants.go
  internal/testutil/fixtures.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

Fix 4 simple linter issues (unused, govet, goconst, noctx) (#113)
  internal/app/aws/taskdef.go
  internal/constants/constants.go
  internal/testutil/fixtures.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

Fix gosec and gocritic linter warnings (13 issues)
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  cmd/local/main.go
  internal/app/aws/runner.go
  internal/client/client.go
  internal/config/config.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/server/middleware.go
  scripts/create-config-file/main.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

wip
  scripts/create-config-file/main.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

wip
  cmd/local/main.go
Due: go-fmt, go-imports

Fix gosec and gocritic linter warnings (13 issues) (#114)
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  cmd/local/main.go
  internal/app/aws/runner.go
  internal/client/client.go
  internal/config/config.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/server/middleware.go
  scripts/create-config-file/main.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

Configure golangci-lint to check for init functions in cmd/runvoy
  .golangci.yml
Due: none

Fix: Correct path for golangci-lint configuration
  .golangci.yml
Due: none

Fix wrong golangci config
  .golangci.yml
Due: none

Refactor: Centralize constants and improve code clarity
  cmd/local/main.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/run.go
  internal/app/aws/logs.go
  internal/app/aws/taskdef.go
  internal/auth/apikey.go
  internal/client/client.go
  internal/config/config.go
  internal/constants/constants.go
  internal/database/dynamodb/executions.go
  internal/output/output.go
  internal/server/middleware.go
  internal/testutil/fixtures.go
  scripts/create-config-file/main.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

wip
  .golangci.yml
  internal/output/output.go
Due: go-fmt, go-imports

Implement cleanup of magic numbers (#117)
  .golangci.yml
  cmd/local/main.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/run.go
  internal/app/aws/logs.go
  internal/app/aws/taskdef.go
  internal/auth/apikey.go
  internal/client/client.go
  internal/config/config.go
  internal/constants/constants.go
  internal/database/dynamodb/executions.go
  internal/output/output.go
  internal/server/middleware.go
  internal/testutil/fixtures.go
  scripts/create-config-file/main.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports

More lint cleanups
  internal/config/config.go
  internal/output/output.go
Due: go-fmt, go-imports

Refactor: Improve code formatting and readability
  cmd/runvoy/cmd/users.go
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/database/dynamodb/users.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

Refactor: Improve code formatting and readability (#118)
  cmd/runvoy/cmd/users.go
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/database/dynamodb/users.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

Lint
  internal/app/aws/logs.go
  internal/app/aws/runner.go
Due: go-fmt, go-imports

Add structured logging helpers and standardize HTTP call log format
  internal/client/client.go
  internal/logger/context.go
Due: go-fmt, go-imports

Correct formatting in README.md
  README.md
Due: update-readme-help

Revise README to enhance platform description
  README.md
Due: update-readme-help

Refactor AWS runner and task definition logic
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/main.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/events/ecs_completion.go
  internal/server/middleware.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

Refactor AWS runner and task definition logic (#121)
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/main.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/events/ecs_completion.go
  internal/server/middleware.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

Update rules
  .cursorrules
Due: none

Enable basic Github default action
  .github/workflows/ci.yml
  justfile
Due: none

Fix golangci-lint configuration and address linting errors
  .github/workflows/ci.yml
  .golangci.yml
  cmd/runvoy/cmd/claim.go
  cmd/runvoy/cmd/images.go
  cmd/runvoy/cmd/kill.go
  cmd/runvoy/cmd/list.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/run.go
  cmd/runvoy/cmd/status.go
  cmd/runvoy/cmd/users.go
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/main_test.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/executions_test.go
  internal/database/dynamodb/users.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/output/output.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router.go
  internal/testutil/assert.go
  scripts/create-config-file/main.go
  scripts/seed-admin-user/main.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

Add test GH action
  .github/workflows/ci.yml
  justfile
Due: none

fix: return exprAttrValues in buildUpdateExpression
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/executions_test.go
Due: go-fmt, go-imports

Fix shadow error in KillTask function
  internal/app/aws/runner.go
Due: go-fmt, go-imports

Fix shadow error in RegisterTaskDefinitionForImage function
  internal/app/aws/taskdef.go
Due: go-fmt, go-imports

Fix shadow error in ListUsers function
  internal/database/dynamodb/users.go
Due: go-fmt, go-imports

Fix shadow error in GetUserByEmail function
  internal/database/dynamodb/users.go
Due: go-fmt, go-imports
