Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

Refactor: Simplify API client creation and validation
  cmd/webapp/src/lib/apiConfig.ts
Due: none

refactor: api client initialization in load functions (#387)
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/loaders/apiClient.ts
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
  cmd/webapp/src/routes/settings/+page.ts
Due: none

tool: move release cloudformation stacks into own folder
  .justfiles/infra.just
  README.md
  cmd/webapp/src/components/ExecutionRow.test.ts
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/types/status.ts
  deploy/release/runvoy-bucket-replication.yaml
  deploy/release/runvoy-bucket.yaml
  deploy/release/runvoy-stackset-prerequisites.yaml
Due: update-readme-help

ci(webapp): use netlify adapter to add proper url support
  .justfiles/deploy.just
  README.md
  cmd/webapp/netlify.toml
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/static/_redirects
  cmd/webapp/svelte.config.js
Due: update-readme-help

fix(webapp): correct redirect
  README.md
  cmd/webapp/eslint.config.js
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
Due: update-readme-help

fix: add missing web dev URL to orchestrator CORS
  README.md
  internal/constants/config.go
Due: go-fmt, go-imports, update-readme-help

refactor(webapp): streamline API client setup
  .justfiles/utils.just
  README.md
  cmd/webapp/netlify.toml
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/routes/settings/+page.ts
  cmd/webapp/src/stores/apiClient.ts
  cmd/webapp/src/stores/config.test.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/svelte.config.js
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/logs/+page.svelte
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/stores/execution.ts
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/lib/constants.ts
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/routes/+layout.svelte
Due: update-readme-help

refactor(webapp): streamline API client setup (#389)
  .justfiles/utils.just
  README.md
  cmd/webapp/netlify.toml
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/routes/settings/+page.ts
  cmd/webapp/src/stores/apiClient.ts
  cmd/webapp/src/stores/config.test.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/stores/execution.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/svelte.config.js
Due: update-readme-help

ci: remove bogus netlify build command
  README.md
  cmd/webapp/netlify.toml
Due: update-readme-help

refactor!: replace dynamodb scans with queries
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/secrets_test.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports, update-readme-help

test(webapp): add more coverage
  README.md
  cmd/webapp/src/components/ExecutionSelector.test.ts
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/WebSocketStatus.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/stores/apiClient.test.ts
  cmd/webapp/src/views/ClaimView.test.ts
  cmd/webapp/src/views/RunView.test.ts
Due: update-readme-help

refactor(webapp): use props instead of stores for log events
  README.md
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/components/WebSocketStatus.test.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

refactor(webapp): use props instead of stores for log events (#392)
  README.md
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/components/WebSocketStatus.test.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

refactor(webapp): reduce abuse of stores usage in logs view
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/ExecutionSelector.test.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/execution.test.ts
  cmd/webapp/src/stores/execution.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

chore(webapp): cleanups
  README.md
  cmd/webapp/src/components/ExecutionRow.svelte
  cmd/webapp/src/components/ExecutionRow.test.ts
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/constants.test.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/ListExecutionsView.test.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/RunView.test.ts
  internal/providers/aws/orchestrator/runner_test.go
Due: go-fmt, go-imports, update-readme-help

fix(webapp): remove duplicate execution id store
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/stores/execution.ts
Due: none

fix(webapp): remove duplicate execution id store (#393)
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/stores/execution.ts
Due: none

refactor: drop logs insights API, use filterLogs instead
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
Due: go-fmt, go-imports, update-readme-help

refactor: drop logs insights API, use filterLogs instead (#394)
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
Due: go-fmt, go-imports, update-readme-help

fix: add missing IAM permissions
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

fix(webapp): make autoscroll work for logs view
  README.md
  cmd/webapp/src/components/LogViewer.svelte
Due: update-readme-help

test(webapp): expand log coverage
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/LogLine.test.ts
  cmd/webapp/src/components/LogViewer.test.ts
  cmd/webapp/vitest.config.ts
Due: none

test(orchestrator): improve backend coverage
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/init_test.go
  internal/backend/orchestrator/main_test.go
Due: go-fmt, go-imports

test(webapp): expand log coverage (#395)
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/LogLine.test.ts
  cmd/webapp/src/components/LogViewer.test.ts
  cmd/webapp/vitest.config.ts
Due: none

test(orchestrator): improve backend coverage (#396)
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/init_test.go
  internal/backend/orchestrator/main_test.go
Due: go-fmt, go-imports

fix: harden trace fetching and handlers
  internal/backend/orchestrator/executions.go
  internal/server/handlers.go
  internal/server/middleware.go
Due: go-fmt, go-imports

test: add regression coverage for handler safety
  internal/backend/orchestrator/execution_test.go
  internal/server/handlers_list_test.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

wip
  .golangci.yml
  README.md
  cmd/webapp/src/components/LogControls.test.ts
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  .github/workflows/golangci-lint.yml
  README.md
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

fix: harden trace fetching and handlers (#398)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  README.md
  cmd/webapp/src/components/LogControls.test.ts
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/server/handlers.go
  internal/server/handlers_list_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

perf(webapp): virtualize log viewer and batch logs
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/LogViewer.test.ts
  cmd/webapp/src/views/LogsView.svelte
Due: none

fix(webapp): attach measure action to wrapper
  cmd/webapp/src/components/LogViewer.svelte
Due: none
