Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

Test: Add aws runner and task validation tests
  internal/app/aws/runner_test.go
Due: go-fmt, go-imports

Refactor: Remove unnecessary 'peer: true' and improve test assertions
  cmd/webapp/package-lock.json
  internal/app/aws/runner_test.go
  internal/constants/constants.go
Due: go-fmt, go-imports

Refactor: Introduce views and execution state management
  cmd/webapp/README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/lib/executionState.js
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/ui.js
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: none

wip
  internal/constants/constants.go
Due: go-fmt, go-imports

wip
  internal/constants/constants_test.go
Due: go-fmt, go-imports

wip
  cmd/cli/cmd/run_service_test.go
  internal/app/aws/runner.go
  internal/constants/constants.go
Due: go-fmt, go-imports

Scan and improve test coverage (#167)
  cmd/cli/cmd/run_service_test.go
  cmd/webapp/package-lock.json
  internal/app/aws/runner.go
  internal/app/aws/runner_test.go
  internal/constants/constants.go
  internal/constants/constants_test.go
Due: go-fmt, go-imports

feat: Add push trigger to CI and update README badges
  .github/workflows/ci.yml
  .github/workflows/golangci-lint.yml
  README.md
Due: update-readme-help

Update CI workflow to trigger only on pull requests
  .github/workflows/ci.yml
Due: none

Update golangci-lint workflow triggers
  .github/workflows/golangci-lint.yml
Due: none

Add readme header with test status (#169)
  README.md
Due: update-readme-help

Change header from strong to h1 in README
  README.md
Due: update-readme-help

Refactor README to remove duplicate header
  README.md
Due: update-readme-help

Update README to separate title and description
  README.md
Due: update-readme-help

Change header from strong to h1 in README (#170)
  README.md
Due: update-readme-help

Update project name to 'Runvoy' in README
  README.md
Due: update-readme-help

Revise Terraform Cloud analogy in README
  README.md
Due: update-readme-help

add missing WebSocketConnectionsTable validation
  deployments/cloudformation-backend.yaml
  internal/config/config.go
  internal/server/middleware.go
Due: go-fmt, go-imports

Fix tests for config
  internal/config/config_test.go
Due: go-fmt, go-imports

Refactor webapp: Introduce views and execution state management (#168)
  cmd/webapp/README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/lib/executionState.js
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/ui.js
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: none

Lint/format webapp
  README.md
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/lib/executionState.js
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: update-readme-help

Add version to webapp, fix views reactivity
  README.md
  cmd/webapp/src/lib/executionState.js
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/logs.js
  justfile
Due: update-readme-help

wip
  deployments/cloudformation-backend.yaml
  internal/api/types.go
  internal/app/main.go
  internal/config/config.go
  internal/database/dynamodb/connections.go
  internal/server/handlers.go
Due: go-fmt, go-imports

wip
  docs/LOGS_ENDPOINT_REFACTOR_PLAN.md
Due: none

Refactor: Improve log retrieval and configuration validation
  internal/app/execution_test.go
  internal/database/dynamodb/connections.go
  internal/server/handlers.go
Due: go-fmt, go-imports

Implement log backlog replay with replay lock mechanism
  README.md
  docs/ARCHITECTURE.md
  docs/LOGS_ENDPOINT_REFACTOR_PLAN.md
  internal/app/mocks_test.go
  internal/config/config_test.go
  internal/database/cloudwatch/logs.go
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
  internal/websocket/websocket_manager_test.go
Due: go-fmt, go-imports, update-readme-help

Remove SQS FIFO queue from CloudFormation template
  README.md
  deployments/cloudformation-backend.yaml
Due: update-readme-help

Optimize log fetching to use database layer with timestamp filtering
  README.md
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

Remove leftover LogsEventsQueueURL configuration
  README.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/LOGS_ENDPOINT_REFACTOR_PLAN.md
Due: update-readme-help

wip
  README.md
  internal/app/init.go
Due: go-fmt, go-imports, update-readme-help

Optimize CloudWatch Logs filtering to use API's startTime parameter
  README.md
  internal/database/cloudwatch/logs.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/cloudwatch/logs.go
  internal/database/repository.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Add retry tolerance for log stream backlog fetch during connection
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deployments/cloudformation-backend.yaml
Due: update-readme-help
