Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

Implement authorization with Casbin (#264)
  README.md
  go.mod
  go.sum
  internal/api/images.go
  internal/api/users.go
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/roles.go
  internal/auth/casbin/model.conf
  internal/auth/casbin/policy.csv
  internal/authorization/enforcer.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports, update-readme-help

Load Casbin enforcer into orchestrator service
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/orchestrator/init.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports

Fix authorization package path to use internal/auth/authorization
  internal/authorization/enforcer.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/orchestrator/init.go
Due: go-fmt, go-imports

Refactor: Add nil enforcer to tests
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/orchestrator/mocks_test.go
Due: go-fmt, go-imports, update-readme-help

Continue Casbin authorization implementation (#265)
  README.md
  internal/authorization/enforcer.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/orchestrator/init.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Embed Casbin configuration files into binary
  internal/auth/authorization/enforcer.go
  internal/providers/aws/orchestrator/init.go
Due: go-fmt, go-imports

Embed casbin docs
  README.md
  internal/auth/authorization/casbin/model.conf
  internal/auth/authorization/casbin/policy.csv
  internal/auth/authorization/embed.go
  internal/auth/authorization/enforcer.go
  internal/providers/aws/orchestrator/init.go
Due: go-fmt, go-imports, update-readme-help

Update create user flow
  README.md
  cmd/cli/cmd/users.go
  cmd/cli/cmd/users_test.go
  docs/CLI.md
  internal/api/users.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/database/dynamodb/users_integration_test.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

Load roles at init
  README.md
  internal/auth/authorization/casbin/policy.csv
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/roles.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/orchestrator/init.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Add RBAC enforcing rules
  README.md
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/secrets.go
  internal/server/handlers.go
  internal/server/handlers_secrets.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Fix auth for health reconcile
  README.md
  internal/auth/authorization/casbin/policy.csv
  internal/server/handlers.go
  internal/server/handlers_secrets.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Logs
  README.md
  cmd/local/main.go
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

Better auth for /run
  README.md
  docs/ARCHITECTURE.md
  internal/backend/orchestrator/executions.go
  internal/errors/errors.go
Due: go-fmt, go-imports, update-readme-help

Add tests, fix viewer authz
  README.md
  internal/auth/authorization/casbin/policy.csv
  internal/server/authorization_test.go
Due: go-fmt, go-imports, update-readme-help

Update README
  README.md
Due: update-readme-help

Optimize ListUsers() to delegate sorting to DynamoDB
  deploy/providers/aws/cloudformation-backend.yaml
  internal/backend/orchestrator/users.go
  internal/providers/aws/database/dynamodb/users.go
  scripts/migrate-users-add-all-field/README.md
  scripts/migrate-users-add-all-field/main.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/database/dynamodb/users.go
  internal/server/handlers_test.go
  scripts/migrate-users-add-all-field/README.md
  scripts/migrate-users-add-all-field/main.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

Move user list sorting to database query (#267)
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/database/dynamodb/users.go
  internal/server/handlers_test.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

More tests
  README.md
  internal/server/authorization_test.go
Due: go-fmt, go-imports, update-readme-help

Add EventBridge scheduled rule for health reconciliation
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

Move CloudWatch Logs client to aws/client package
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports

Refactor seed-admin-user script to reuse UserRepository
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports

Move CloudWatch Logs client to aws/client package (#269)
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports

Add EventBridge scheduled rule for health reconciliation (#268)
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

wip
  README.md
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports, update-readme-help

Reuse create user logic in seed admin script (#270)
  README.md
  internal/providers/aws/database/dynamodb/users.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

Cleanups
  README.md
  internal/server/handlers.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Add ownership hydration
  README.md
  docs/ARCHITECTURE.md
  internal/auth/authorization/enforcer.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Fix resources hydration
  README.md
  cmd/cli/cmd/list.go
  cmd/cli/cmd/list_test.go
  docs/CLI.md
  internal/backend/orchestrator/main.go
  internal/client/client.go
  internal/client/client_test.go
  internal/database/repository.go
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Add AWS secrets management and ECS task definition support
  deploy/providers/aws/cloudformation-backend.yaml
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
Due: go-fmt, go-imports

Add default task role ARNs and KMS key ARN to config
  internal/config/aws/config_test.go
  internal/config/config_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

wip
  README.md
  internal/config/aws/config.go
Due: go-fmt, go-imports, update-readme-help

Fix event processor health reconcile (#271)
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

Split handlers.go
  README.md
  internal/server/handlers.go
  internal/server/handlers_api_keys.go
  internal/server/handlers_executions.go
  internal/server/handlers_health.go
  internal/server/handlers_images.go
  internal/server/handlers_users.go
Due: go-fmt, go-imports, update-readme-help

Fix casbin paths
  README.md
  internal/auth/authorization/casbin/policy.csv
  internal/backend/orchestrator/executions.go
  internal/server/handlers_executions.go
  internal/server/handlers_secrets.go
Due: go-fmt, go-imports, update-readme-help

Add coverage to roles
  README.md
  internal/auth/authorization/roles_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Actualizar main.go
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports
