Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  README.md
  deployments/cloudformation-backend.yaml
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/events_test.go
Due: go-fmt, go-imports, update-readme-help

Lint
  .golangci.yml
  README.md
  cmd/runvoy/cmd/configure_test.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/output_interface.go
  cmd/runvoy/cmd/run.go
  cmd/runvoy/cmd/status_test.go
  cmd/runvoy/cmd/users.go
  cmd/runvoy/cmd/users_test.go
  internal/api/types.go
  internal/app/aws/runner.go
  internal/auth/apikey_test.go
  internal/client/client.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/connections_test.go
  internal/database/dynamodb/executions_test.go
  internal/database/dynamodb/users.go
  internal/output/output.go
  internal/output/output_test.go
  internal/server/handlers_test.go
  internal/server/middleware.go
  internal/testutil/assert.go
  internal/testutil/fixtures.go
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  .github/workflows/golangci-lint.yml
  README.md
Due: update-readme-help

wip
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

feat(webviewer): Initialize Svelte migration
  README.md
  cmd/webapp/.gitignore
  cmd/webapp/IMPLEMENTATION.md
  cmd/webapp/README.md
  cmd/webapp/index.html
  cmd/webapp/legacy-index.html
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/App.svelte
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/lib/ansi.js
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/lib/websocket.js
  cmd/webapp/src/main.js
  cmd/webapp/src/stores/config.js
  cmd/webapp/src/stores/execution.js
  cmd/webapp/src/stores/logs.js
  cmd/webapp/src/stores/websocket.js
  cmd/webapp/src/styles/global.css
  cmd/webapp/vite.config.js
  docs/ARCHITECTURE.md
  justfile
Due: update-readme-help

Fix webapp bugs and improve feature parity with CLI
  README.md
  cmd/webapp/IMPLEMENTATION.md
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/lib/websocket.js
Due: update-readme-help

Fix infinite loop in LogViewer afterUpdate hook
  README.md
  cmd/webapp/src/components/LogViewer.svelte
Due: update-readme-help

Update IMPLEMENTATION.md with infinite loop fix details
  README.md
  cmd/webapp/IMPLEMENTATION.md
Due: update-readme-help

Delete cmd/webapp/IMPLEMENTATION.md
  cmd/webapp/IMPLEMENTATION.md
Due: none

Rewrite web viewer in Svelte (#145)
  README.md
  cmd/webapp/.gitignore
  cmd/webapp/README.md
  cmd/webapp/index.html
  cmd/webapp/legacy-index.html
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/App.svelte
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/lib/ansi.js
  cmd/webapp/src/lib/api.js
  cmd/webapp/src/lib/websocket.js
  cmd/webapp/src/main.js
  cmd/webapp/src/stores/config.js
  cmd/webapp/src/stores/execution.js
  cmd/webapp/src/stores/logs.js
  cmd/webapp/src/stores/websocket.js
  cmd/webapp/src/styles/global.css
  cmd/webapp/vite.config.js
  docs/ARCHITECTURE.md
  justfile
Due: update-readme-help

Add client IP to websocket logging/storage
  README.md
  internal/api/types.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/connections_test.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Better handle websocket closure in clients
  README.md
  cmd/runvoy/cmd/logs.go
  cmd/webapp/src/lib/websocket.js
  docs/ARCHITECTURE.md
  internal/api/types.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  execution_locking_proposal.md
  go.mod
  go.sum
  internal/api/types.go
  internal/config/config.go
  internal/database/dynamodb/locks.go
  internal/database/dynamodb/locks_test.go
  internal/database/repository.go
  internal/errors/errors.go
Due: go-fmt, go-imports, update-readme-help

Add linter to webapp build process
  README.md
  cmd/cli/cmd/root.go
  cmd/webapp/.eslintrc.json
  cmd/webapp/.prettierignore
  cmd/webapp/.prettierrc.json
  cmd/webapp/eslint.config.js
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/lib/ansi.js
  cmd/webapp/src/lib/websocket.js
  cmd/webapp/src/routes/+layout.js
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/config.js
  cmd/webapp/vite.config.js
  justfile
Due: go-fmt, go-imports, update-readme-help

Cleanup docs
  README.md
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

Cleanup logs
  README.md
  cmd/webapp/.gitignore
  internal/app/aws/runner.go
  internal/app/main.go
  internal/database/dynamodb/users.go
  justfile
Due: go-fmt, go-imports, update-readme-help

docs: Add log streaming reliability analysis and summary
  docs/LOG_STREAMING_QUICK_SUMMARY.md
  docs/LOG_STREAMING_RELIABILITY_ANALYSIS.md
Due: none

Refactor log streaming to use DynamoDB for indexed logs
  docs/LOG_STREAMING_DYNAMODB_DESIGN.md
  docs/LOG_STREAMING_QUICK_SUMMARY.md
  docs/LOG_STREAMING_RELIABILITY_ANALYSIS.md
Due: none

Add documentation for log streaming deduplication strategies
  docs/LOG_STREAMING_DEDUPLICATION.md
Due: none

Refactor log streaming to use `last_index` instead of `since_index`
  docs/LOG_STREAMING_DEDUPLICATION.md
  docs/LOG_STREAMING_DYNAMODB_DESIGN.md
  docs/LOG_STREAMING_QUICK_SUMMARY.md
  docs/LOG_STREAMING_RELIABILITY_ANALYSIS.md
Due: none

Refactor: Optimize log fetching based on execution status
  docs/LOG_STREAMING_DYNAMODB_DESIGN.md
  docs/LOG_STREAMING_OPTIMIZATION.md
  docs/LOG_STREAMING_QUICK_SUMMARY.md
  docs/LOG_STREAMING_RELIABILITY_ANALYSIS.md
Due: none

Refactor: Improve completed execution log retrieval logic
  docs/LOG_STREAMING_DYNAMODB_DESIGN.md
  docs/LOG_STREAMING_OPTIMIZATION.md
  docs/LOG_STREAMING_QUICK_SUMMARY.md
  docs/LOG_STREAMING_RELIABILITY_ANALYSIS.md
Due: none

Refactor: Simplify completed execution log retrieval
  docs/LOG_STREAMING_DYNAMODB_DESIGN.md
  docs/LOG_STREAMING_OPTIMIZATION.md
  docs/LOG_STREAMING_QUICK_SUMMARY.md
  docs/LOG_STREAMING_RELIABILITY_ANALYSIS.md
Due: none

Add DynamoDB table for execution logs
  deployments/cloudformation-backend.yaml
Due: none

feat: Add indexed logs and DynamoDB repository
  internal/api/types.go
  internal/database/dynamodb/logs.go
  internal/database/repository.go
Due: go-fmt, go-imports

Checkpoint before follow-up message
  internal/api/types.go
  internal/database/dynamodb/logs.go
  internal/database/repository.go
Due: go-fmt, go-imports

feat: Add log repository and refactor log fetching
  internal/app/execution_test.go
  internal/app/image_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/main_test.go
  internal/app/mocks_test.go
  internal/config/config.go
Due: go-fmt, go-imports

Fixing cursor crap
  README.md
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/dynamodb/logs.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  scripts/sync-env-vars/main.go
  scripts/terraform_example.sh
Due: go-fmt, go-imports, update-readme-help

improve logs
  README.md
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

Send messages as batch to websocket
  README.md
  cmd/cli/cmd/logs.go
  cmd/webapp/src/lib/websocket.js
  internal/database/dynamodb/connections.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

feat: Add execution table and log storage
  deployments/cloudformation-backend.yaml
  internal/config/config.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports

wip
  README.md
  internal/database/dynamodb/logs.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

feat: Add dynamodb:UpdateItem to execution logs policy
  deployments/cloudformation-backend.yaml
Due: none

wip
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Improve log streaming and add TTL for logs
  cmd/cli/cmd/logs.go
  deployments/cloudformation-backend.yaml
  internal/api/types.go
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/log_forwarder.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports
