Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

wip
  EXTENSIBILITY_ASSESSMENT.md
  README.md
Due: update-readme-help

Restructure codebase for clarity
  EXTENSIBILITY_ASSESSMENT.md
  README.md
  cmd/backend/providers/aws/event_processor/main.go
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  cmd/local/server/server.go
  docs/ARCHITECTURE.md
  docs/PROJECT_ANALYSIS.md
  docs/ROADMAP.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  internal/app/events/backend.go
  internal/app/events/events_test.go
  internal/app/events/init.go
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/app/websocket/manager.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/lambdaapi/event_handler.go
  internal/providers/aws/lambdaapi/handler.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Move output package to internal/client/output
  cmd/cli/cmd/claim.go
  cmd/cli/cmd/configure.go
  cmd/cli/cmd/images.go
  cmd/cli/cmd/kill.go
  cmd/cli/cmd/list.go
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/output_interface.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/run.go
  cmd/cli/cmd/status.go
  cmd/cli/cmd/users.go
  cmd/cli/cmd/version.go
  docs/PROJECT_ANALYSIS.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  internal/client/output/output.go
  internal/client/output/output_test.go
Due: go-fmt, go-imports

Refactor: Split api types into separate files
  internal/api/executions.go
  internal/api/images.go
  internal/api/logs.go
  internal/api/types.go
  internal/api/users.go
  internal/api/websocket.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/claim.go
  cmd/cli/cmd/configure.go
  cmd/cli/cmd/images.go
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/run.go
  cmd/cli/cmd/users.go
  cmd/cli/cmd/version.go
Due: go-fmt, go-imports, update-readme-help

Move output to client subpackage (#214)
  README.md
  cmd/cli/cmd/claim.go
  cmd/cli/cmd/configure.go
  cmd/cli/cmd/images.go
  cmd/cli/cmd/kill.go
  cmd/cli/cmd/list.go
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/output_interface.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/run.go
  cmd/cli/cmd/status.go
  cmd/cli/cmd/users.go
  cmd/cli/cmd/version.go
  docs/PROJECT_ANALYSIS.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_SUMMARY.md
  internal/client/output/output.go
  internal/client/output/output_test.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Split api types into separate files (#215)
  internal/api/executions.go
  internal/api/images.go
  internal/api/logs.go
  internal/api/types.go
  internal/api/users.go
  internal/api/websocket.go
Due: go-fmt, go-imports

Cleanups
  README.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Use ExtractRequestIDFromContext in middleware
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

Hide request id fetching implementation in service (#216)
  README.md
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Add request ID generation and middleware
  internal/auth/auth.go
  internal/auth/auth_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports

feat: Add request ID generation and middleware (#217)
  internal/auth/auth.go
  internal/auth/auth_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports

Update justfile
  README.md
  justfile
Due: update-readme-help

Refactor: Move tags to separate function and add to resource
  internal/providers/aws/secrets/manager.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/secrets/manager.go
Due: go-fmt, go-imports, update-readme-help

Fix secrets put api validation error (#218)
  README.md
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/secrets/manager.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Remove secret data from API responses
  internal/api/secrets.go
  internal/app/main.go
  internal/server/handlers_secrets.go
Due: go-fmt, go-imports

Refactor: Remove secret data from API responses (#219)
  internal/api/secrets.go
  internal/app/main.go
  internal/server/handlers_secrets.go
Due: go-fmt, go-imports

feat: Add secrets management commands and client methods
  cmd/cli/cmd/secrets.go
  cmd/cli/cmd/secrets_test.go
  cmd/cli/cmd/status_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/client/interface.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/secrets.go
  cmd/cli/cmd/secrets_test.go
  cmd/cli/cmd/status_test.go
  internal/client/client.go
Due: go-fmt, go-imports, update-readme-help

Extend cli client for secrets management (#220)
  README.md
  cmd/cli/cmd/secrets.go
  cmd/cli/cmd/secrets_test.go
  cmd/cli/cmd/status_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/client/interface.go
Due: go-fmt, go-imports, update-readme-help

feat: Add secrets management to CLI and architecture
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Refactor init and event processor signatures (#222)
  .gitignore
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  internal/app/init.go
Due: go-fmt, go-imports

Cleanups
  README.md
  internal/app/init.go
Due: go-fmt, go-imports, update-readme-help

Better logging of unhandled event
  README.md
  internal/providers/aws/lambdaapi/event_handler.go
Due: go-fmt, go-imports, update-readme-help

feat: Add secrets management to CLI and architecture (#221)
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

feat: Allow injecting secrets into run commands
  README.md
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
  docs/ARCHITECTURE.md
  internal/api/executions.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/app/mocks_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/app/execution_test.go
  internal/app/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/run.go
Due: go-fmt, go-imports, update-readme-help

Mount secrets into task containers (#223)
  README.md
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
  docs/ARCHITECTURE.md
  internal/api/executions.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/app/mocks_test.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Use derived loggers for requests
  internal/client/client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports

Replace any with raw json for event handling
  README.md
  internal/app/events/backend.go
  internal/app/events/events_test.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/lambdaapi/event_handler.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/client/client.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports, update-readme-help

Add context to all loggers (#224)
  README.md
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports, update-readme-help

Fix kill msg
  README.md
  cmd/cli/cmd/kill.go
  internal/client/client_test.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
