Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Fix TERMINATING race
  README.md
  cmd/cli/cmd/status.go
  internal/app/executions.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports, update-readme-help

Refactor DynamoDB schema and execution handling
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/providers/aws/database/dynamodb/executions.go
Due: go-fmt, go-imports, update-readme-help

Better handle logs not ready in CW
  README.md
  cmd/cli/cmd/logs.go
  cmd/webapp/src/views/LogsView.svelte
  docs/ARCHITECTURE.md
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/websocket/manager.go
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

Consolidate AWS SDK configuration loading
  internal/app/events/init.go
  internal/app/init.go
  internal/config/aws/config.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports

Remove redundant validation checks and inline comments
  internal/app/events/init.go
  internal/app/init.go
  internal/config/aws/config.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/events/init.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports

wip
  README.md
  internal/app/events/init.go
  internal/app/init.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports, update-readme-help

Better aws cfg (#240)
  README.md
  internal/app/events/init.go
  internal/app/init.go
  internal/config/aws/config.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/events/init.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

Fix WebSocket URL generation for terminal execution states
  internal/app/execution_test.go
  internal/app/executions.go
Due: go-fmt, go-imports

Remove redundant FetchLogsByExecutionID indirection
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports

Remove comment on WebSocket URL generation
  internal/app/executions.go
Due: go-fmt, go-imports

Investigate websocket URL requirement in GetLogsByExecutionID (#241)
  internal/app/execution_test.go
  internal/app/executions.go
Due: go-fmt, go-imports

Remove redundant FetchLogsByExecutionID indirection (#242)
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports

Make kill idempotent
  README.md
  cmd/cli/cmd/kill.go
  cmd/cli/cmd/kill_test.go
  cmd/cli/cmd/logs_test.go
  internal/app/execution_test.go
  internal/app/executions.go
  internal/client/client.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

CLI log
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

Refactor execution status transitions and validation
  internal/app/executions.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports

wip
  README.md
  internal/constants/constants.go
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/app/executions.go
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports, update-readme-help

Implement state transition validation (#243)
  README.md
  internal/app/executions.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/providers/aws/events/backend.go
Due: go-fmt, go-imports, update-readme-help

Update readme
  README.md
Due: update-readme-help

feat: Add tests and improve config handling
  docs/TEST_COVERAGE_ASSESSMENT.md
  internal/config/config_test.go
  internal/providers/aws/app/scripts_test.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/websocket/manager_helper_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/app/scripts_test.go
Due: go-fmt, go-imports, update-readme-help

Assess and improve go test coverage (#244)
  README.md
  docs/TEST_COVERAGE_ASSESSMENT.md
  internal/config/config_test.go
  internal/providers/aws/app/scripts_test.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/websocket/manager_helper_test.go
Due: go-fmt, go-imports, update-readme-help

Remove old docs
  README.md
  docs/CLI_TESTABILITY_ANALYSIS.md
  docs/COVERAGE_REGRESSION_PREVENTION.md
  docs/PROJECT_ANALYSIS.md
  docs/ROADMAP.md
  docs/TESTING_SUMMARY.md
Due: update-readme-help

feat: Add event processor and initialization tests
  internal/app/events/init_test.go
  internal/providers/aws/events/backend_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/app/events/init_test.go
  internal/providers/aws/events/backend_test.go
Due: go-fmt, go-imports, update-readme-help

Add tests to event processor
  README.md
  internal/app/events/init_test.go
  internal/providers/aws/events/backend_test.go
Due: go-fmt, go-imports, update-readme-help

Improve DynamoDB repository testability with client interface
  internal/providers/aws/app/init.go
  internal/providers/aws/database/dynamodb/client.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/tokens.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/dynamodb/users_integration_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/database/dynamodb/client.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/tokens.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports, update-readme-help

Improve DynamoDB repository testability with client interface (#246)
  README.md
  internal/providers/aws/app/init.go
  internal/providers/aws/database/dynamodb/client.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/tokens.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/dynamodb/users_integration_test.go
Due: go-fmt, go-imports, update-readme-help

Add ecs adapter
  README.md
  internal/providers/aws/app/client.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/taskdef.go
Due: go-fmt, go-imports, update-readme-help

Add ssm adapter
  README.md
  internal/providers/aws/app/init.go
  internal/providers/aws/secrets/client.go
  internal/providers/aws/secrets/manager.go
Due: go-fmt, go-imports, update-readme-help

Add missing adapters
  README.md
  internal/providers/aws/app/client.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/logs.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/events/init.go
  internal/providers/aws/websocket/client.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

Extend coverage to websocket and secrets
  .testcoverage.yml
  README.md
  internal/providers/aws/secrets/manager_test.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports, update-readme-help

More dynamodb coverage
  README.md
  internal/providers/aws/database/dynamodb/executions_test.go
Due: go-fmt, go-imports, update-readme-help

Add tests for taskdef
  README.md
  internal/providers/aws/app/taskdef_test.go
Due: go-fmt, go-imports, update-readme-help

Update README.md
  README.md
Due: update-readme-help

Implement dynamic Fargate role assignment per task definition
  deploy/providers/aws/cloudformation-backend.yaml
  go.mod
  go.sum
  internal/api/images.go
  internal/app/images.go
  internal/app/main.go
  internal/config/aws/config.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/database/dynamodb/images.go
  internal/server/handlers.go
Due: go-fmt, go-imports

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
