Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

docs: add docs workflow
  .github/actions/ghcr-artifact/action.yml
  .github/workflows/docs.yml
  README.md
Due: update-readme-help

wip
  .github/workflows/docs.yml
Due: none

docs: add docs workflow
  .github/workflows/docs.yml
  .justfiles/utils.just
  README.md
Due: update-readme-help

docs: remove broken links
  CONTRIBUTING.md
  docs/COVERAGE_ANALYSIS.md
Due: none

docs: update readme banner
  README.md
  cmd/webapp/static/runvoy-avatar.png
  cmd/webapp/static/runvoy-social-banner.webp
  docs/ARCHITECTURE.md
Due: update-readme-help

style(webapp): add avatar to header
  README.md
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/static/runvoy-banner.png
Due: update-readme-help

docs: extend COVERAGE_ANALYSIS.md with implementation guides and best practices
  docs/COVERAGE_ANALYSIS.md
Due: none

test: add comprehensive tests for execution, image, and API key handlers
  internal/server/handlers_api_keys_test.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_images_test.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/webapp/static/runvoy-avatar.png
  cmd/webapp/static/runvoy-banner.png
  internal/server/handlers_api_keys_test.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_images_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

test: more coverage
  README.md
  cmd/webapp/static/runvoy-avatar.png
  cmd/webapp/static/runvoy-banner.png
  docs/COVERAGE_ANALYSIS.md
  internal/server/handlers_api_keys_test.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_images_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

tool: fix axiom CF template to properly handle subscriptions
  .justfiles/infra.just
  README.md
  cmd/webapp/src/routes/+layout.svelte
  deploy/axiom/axiom-forwarder.yaml
  justfile
Due: update-readme-help

test: add comprehensive tests for cloud event routing
  internal/providers/aws/processor/cloud_events_test.go
Due: go-fmt, go-imports

Refactor: Update mocks and add health reconcile to scheduled event
  internal/providers/aws/processor/cloud_events_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/processor/cloud_events_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/COVERAGE_ANALYSIS.md
Due: update-readme-help

test: add comprehensive tests for cloud event routing
  README.md
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/processor/cloud_events_test.go
Due: go-fmt, go-imports, update-readme-help

ci: release 0.3.0
  CHANGELOG.md
  README.md
  VERSION
Due: update-readme-help

refactor: pluggable initializer for the bootstraps
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/init_test.go
  internal/backend/processor/init.go
  internal/backend/processor/init_test.go
Due: go-fmt, go-imports

refactor: make health manager required
  README.md
  internal/backend/orchestrator/init_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/health_stub_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

tool: fix main region for release bucket
  .goreleaser.yaml
  .justfiles/release.just
  README.md
Due: update-readme-help

docs: add release badge
  README.md
Due: update-readme-help

docs: update changelog
  CHANGELOG.md
Due: none

test: add more coverage to health package
  README.md
  internal/providers/aws/health/compute_test.go
  internal/providers/aws/health/identity_test.go
  internal/providers/aws/health/mocks_test.go
  internal/providers/aws/health/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

refactor(aws): split orchestrator bootstrap wiring
  .gitignore
  internal/providers/aws/orchestrator/init.go
Due: go-fmt, go-imports

feat: add region and provider info to GET /health
  README.md
  cmd/cli/cmd/version.go
  internal/api/types.go
  internal/api/types_test.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/client/client_test.go
  internal/server/authorization_test.go
  internal/server/handlers_health.go
  internal/server/handlers_health_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

test(health): cover casbin reconciliation
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/health/casbin_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/health/casbin_test.go
Due: go-fmt, go-imports, update-readme-help

test(health): cover casbin reconciliation (#349)
  README.md
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/health/casbin_test.go
Due: go-fmt, go-imports, update-readme-help

tool(just): trigger docs build in release flow
  .justfiles/release.just
  .justfiles/utils.just
  README.md
Due: update-readme-help

docs: update webapp and docs URLs
  README.md
  cmd/webapp/src/views/SettingsView.svelte
  docs/ARCHITECTURE.md
  internal/config/config_test.go
  internal/constants/config.go
  internal/server/middleware_test.go
  justfile
Due: go-fmt, go-imports, update-readme-help

feat(webapp): show backend provider and region
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/SettingsView.svelte
Due: none

test(webapp): add settings view health tests
  cmd/webapp/src/views/SettingsView.test.ts
Due: none

feat(webapp): show backend provider and region
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
Due: none

refactor(logs): return websocket url from /run
  README.md
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  docs/ARCHITECTURE.md
  internal/api/executions.go
  internal/api/executions_test.go
  internal/api/logs.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/client/client_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/init_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

feat(logs): return websocket url from /run (#352)
  README.md
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  docs/ARCHITECTURE.md
  internal/api/executions.go
  internal/api/executions_test.go
  internal/api/logs.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/init_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/users_test.go
  internal/client/client_test.go
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

feat(aws): buffer websocket logs
  deploy/providers/aws/cloudformation-backend.yaml
  internal/api/logs.go
  internal/api/websocket.go
  internal/api/websocket_test.go
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/database/repository.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/repositories.go
  internal/providers/aws/processor/backend_test.go
  internal/providers/aws/processor/cloud_events.go
  internal/providers/aws/processor/cloud_events_test.go
  internal/providers/aws/processor/ecs_events.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/processor/log_repo_stub_test.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports

Remove unused RUNVOY_AWS_EXECUTION_LOGS_TABLE env var
  internal/config/config_test.go
Due: go-fmt, go-imports
