Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Add region to IAM resources to allow for multi-region deployments
  CHANGELOG.md
  README.md
  VERSION
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

Update release bucket template to allow for multi-region deployments
  .goreleaser.yaml
  CHANGELOG.md
  README.md
  VERSION
  deploy/providers/aws/cloudformation-backend.yaml
  deploy/providers/aws/runvoy-bucket-replication.yaml
  deploy/providers/aws/runvoy-bucket.yaml
  deploy/providers/aws/runvoy-stackset-prerequisites.yaml
  internal/providers/aws/constants/infra.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Use new buckets in infra apply
  .goreleaser.yaml
  CHANGELOG.md
  README.md
  VERSION
  deploy/providers/aws/cloudformation-backend.yaml
  internal/client/infra/deploy_aws.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Fix wrong default version, add more coverage
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/client/infra/deploy_aws.go
  internal/providers/aws/processor/backend_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Add release support for more aws regions
  README.md
  cmd/cli/cmd/infra.go
  deploy/providers/aws/runvoy-bucket-replication.yaml
  go.mod
  go.sum
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/config/aws/config.go
  internal/constants/validation.go
  internal/providers/aws/constants/infra.go
  justfile
  scripts/delete-s3-buckets/main.go
Due: go-fmt, go-imports, update-readme-help

Fix wrong flow with apply --configure
  README.md
  cmd/cli/cmd/infra.go
Due: go-fmt, go-imports, update-readme-help

Add VERSION to releases
  .goreleaser.yaml
  README.md
Due: update-readme-help

Update README
  README.md
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

Add unit tests for easy-win coverage targets
  README.md
  cmd/cli/cmd/output_interface_test.go
  internal/api/health_test.go
  internal/api/playbooks_test.go
  internal/server/helpers_test.go
Due: go-fmt, go-imports, update-readme-help

Remove obsolete docs
  README.md
  cmd/local/README.md
Due: update-readme-help

Create SECURITY.md
  SECURITY.md
Due: none

Create SECURITY.md (#292)
  SECURITY.md
Due: none

Update README.md
  README.md
Due: update-readme-help

Update README
  README.md
Due: update-readme-help

Update CoC
  CODE_OF_CONDUCT.md
  README.md
Due: update-readme-help

Remove unnecesary extra file from release
  .goreleaser.yaml
  README.md
Due: update-readme-help

Split justfile into cohesive subfiles
  just/build.just
  just/deploy.just
  just/dev.just
  just/infra.just
  just/lint.just
  just/release.just
  just/test.just
  just/utils.just
  justfile
Due: none

Actualizar justfile
  justfile
Due: none

chore: update just filenames
  .justfiles/build.just
  .justfiles/deploy.just
  .justfiles/dev.just
  .justfiles/infra.just
  .justfiles/lint.just
  .justfiles/release.just
  .justfiles/test.just
  .justfiles/utils.just
  README.md
  justfile
Due: update-readme-help

Abstract secret variable detection from AWS-specific code
  internal/api/executions.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/secrets/patterns.go
  internal/secrets/patterns_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/secrets/patterns.go
  internal/secrets/patterns_test.go
Due: go-fmt, go-imports, update-readme-help

refactor: extract secret variable names to shared abstraction (#296)
  README.md
  internal/api/executions.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/secrets/patterns.go
  internal/secrets/patterns_test.go
Due: go-fmt, go-imports, update-readme-help

chore: cleanup justfiles, update docs
  .justfiles/deploy.just
  .justfiles/dev.just
  .justfiles/infra.just
  .justfiles/lint.just
  .justfiles/test.just
  .justfiles/utils.just
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  justfile
Due: update-readme-help

docs: clean up and reorganize CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: cleanup architecture doc from obsolete info
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

docs: update AGENTS.md
  AGENTS.md
  README.md
Due: update-readme-help

docs: add MkDocs scaffolding
  .gitignore
  .justfiles/dev.just
  README.md
  mkdocs.yml
Due: update-readme-help

chore: add clean target
  .justfiles/utils.just
  README.md
Due: update-readme-help

test: add comprehensive unit tests for authorization package
  go.mod
  go.sum
  internal/auth/authorization/enforcer_test.go
  internal/auth/authorization/hydrate_test.go
Due: go-fmt, go-imports

wip
  README.md
  go.mod
  internal/auth/authorization/enforcer_test.go
  internal/auth/authorization/hydrate_test.go
Due: go-fmt, go-imports, update-readme-help

* test: add comprehensive unit tests for authorization package
  README.md
  go.mod
  go.sum
  internal/auth/authorization/enforcer_test.go
  internal/auth/authorization/hydrate_test.go
Due: go-fmt, go-imports, update-readme-help

utils: add branch cleanup
  .justfiles/utils.just
  README.md
Due: update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
