Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

wip
  README.md
  internal/backend/health/health.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/processor/backend.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/constants/tags.go
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/orchestrator/client.go
  internal/providers/aws/orchestrator/health_adapter.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/orchestrator/taskdef_recreation.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/health/compute.go
  internal/providers/aws/health/helpers.go
  internal/providers/aws/health/identity.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/health/secrets.go
  internal/providers/aws/orchestrator/taskdef_recreation.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
Due: update-readme-help

Add endpoint to trigger health reconciliation
  internal/server/handlers.go
  internal/server/router.go
Due: go-fmt, go-imports

Fix: Use Recursive filter for orphaned parameters
  internal/providers/aws/health/secrets.go
Due: go-fmt, go-imports

wip
  README.md
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/ARCHITECTURE.md
  internal/providers/aws/ecsdefs/taskdefs.go
  internal/providers/aws/health/compute.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/orchestrator/health_adapter.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/orchestrator/taskdef_recreation.go
  internal/providers/aws/orchestrator/taskdef_test.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/health_adapter.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/ecsdefs/taskdefs.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/taskdef.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/health/manager.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/taskdef_recreation.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/processor/backend.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/ARCHITECTURE.md
  internal/providers/aws/processor/backend.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/processor/backend.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/processor/backend.go
  internal/providers/aws/processor/cloud_events.go
  internal/providers/aws/processor/ecs_events.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/processor/scheduled_events.go
  internal/providers/aws/processor/task_times.go
  internal/providers/aws/processor/websocket_events.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/identity/identity.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

Update README.md
  README.md
Due: update-readme-help

Add health reconcile command
  README.md
  cmd/cli/cmd/health.go
  cmd/cli/cmd/status_test.go
  docs/CLI.md
  internal/api/health.go
  internal/client/client.go
  internal/client/interface.go
Due: go-fmt, go-imports, update-readme-help

Update permissions
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

Up health.go
  internal/backend/orchestrator/health.go
Due: go-fmt, go-imports

Refactor runtime platform architecture constants
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/ecsdefs/taskdefs.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/ecsdefs/taskdefs.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/constants/ecs.go
Due: go-fmt, go-imports, update-readme-help

Move hardcoded architecture from parseRuntimePlatform (#263)
  README.md
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/ecsdefs/taskdefs.go
Due: go-fmt, go-imports, update-readme-help

Parallelize AWS health reconciliation tasks with errgroup
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports

Parallelize AWS health manager reconcile tasks (#262)
  README.md
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports, update-readme-help

Add Casbin authorization infrastructure
  casbin/model.conf
  casbin/policy.csv
  go.mod
  internal/api/images.go
  internal/api/users.go
  internal/authorization/enforcer.go
  internal/authorization/roles.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports

Move casbin config to internal/auth and update go.sum
  go.sum
  internal/auth/casbin/model.conf
  internal/auth/casbin/policy.csv
  internal/authorization/enforcer.go
Due: go-fmt, go-imports

wip
  README.md
  go.mod
  go.sum
  internal/authorization/enforcer.go
  internal/authorization/roles.go
Due: go-fmt, go-imports, update-readme-help

Move authorization package under internal/auth
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/roles.go
Due: go-fmt, go-imports

wip
  README.md
  internal/api/images.go
  internal/api/users.go
  internal/auth/authorization/enforcer.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/users.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/authorization/enforcer.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
