Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Refactor: Consolidate connection retrieval methods
  internal/api/types.go
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/events_test.go
  internal/websocket/log_forwarder.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports

wip
  README.md
Due: update-readme-help

wip
  README.md
  deployments/cloudformation-backend.yaml
  internal/constants/constants.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/logs.go
Due: go-fmt, go-imports, update-readme-help

Grant DynamoDB permissions for execution logs
  deployments/cloudformation-backend.yaml
Due: none

feat: Add log deduplication before storing
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports

Refactor: Implement cache-aside for log retrieval
  internal/app/execution_test.go
  internal/app/main.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports

Move webapp to Netlify
  .gitignore
  README.md
  docs/ARCHITECTURE.md
  internal/constants/constants.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Phase 1: Add DynamoDB logs cache table and repository
  deployments/cloudformation-backend.yaml
  docs/logs-pipeline-enhancement-plan.md
  internal/config/config.go
  internal/database/dynamodb/logs.go
  internal/database/repository.go
Due: go-fmt, go-imports

Phase 2: Extend Event Processor Lambda for log ingestion
  README.md
  deployments/cloudformation-backend.yaml
  internal/config/config.go
  internal/constants/constants.go
  internal/events/logs_ingestion.go
  internal/events/processor.go
  internal/events/types.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/events/logs_ingestion.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

Implement cache-first logs fetching with DynamoDB cache fallback
  README.md
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Refactor logs architecture: remove logs from Runner interface
  README.md
  internal/app/aws/runner.go
  internal/app/execution_test.go
  internal/app/main.go
  internal/app/mocks_test.go
Due: go-fmt, go-imports, update-readme-help

Add curl helper to justfile
  README.md
  justfile
Due: update-readme-help

Fix: Handle direct CloudWatch Logs subscription filter Lambda invocations
  README.md
  internal/events/logs_ingestion.go
  internal/events/processor.go
  internal/events/types.go
  scripts/curlexample.sh
Due: go-fmt, go-imports, update-readme-help

Fix: Update Event Processor Lambda handler to route both event types
  README.md
  cmd/backend/aws/event_processor/main.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Use AWS SDK for CloudWatch Logs event parsing
  README.md
  cmd/backend/aws/event_processor/main.go
  internal/events/processor.go
  internal/events/types.go
Due: go-fmt, go-imports, update-readme-help

Fix: Use atomic counter for line number assignment in DynamoDB logs cache
  README.md
  internal/database/dynamodb/logs.go
  internal/database/dynamodb/logs_test.go
  internal/database/repository.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  justfile
Due: update-readme-help

Fix: Use expression attribute names for reserved keyword 'ttl' in UpdateItem
  README.md
  internal/database/dynamodb/logs.go
Due: go-fmt, go-imports, update-readme-help

Add helper
  README.md
  justfile
Due: update-readme-help

Remove unused log forwarder lambda and related resources
  cmd/backend/aws/websocket/log_forwarder/main.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/config/config.go
  internal/websocket/log_forwarder.go
  justfile
Due: go-fmt, go-imports

Remove unused log forwarder lambda and related resources (#155)
  cmd/backend/aws/websocket/log_forwarder/main.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/config/config.go
  internal/websocket/log_forwarder.go
  justfile
Due: go-fmt, go-imports

Fix log level
  README.md
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/events/events_test.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

Add universal event detection for Lambda event processor
  cmd/backend/aws/event_processor/main.go
  internal/events/detector.go
  internal/events/processor.go
Due: go-fmt, go-imports

Simplify universal handler implementation
  internal/events/detector.go
  internal/events/processor.go
Due: go-fmt, go-imports

wip
  README.md
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

AWS Lambda Go handler patterns for multiple events (#156)
  README.md
  cmd/backend/aws/event_processor/main.go
  internal/events/events_test.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

Remove websocket lambda, extend event processor handling
  README.md
  cmd/backend/aws/event_processor/main.go
  cmd/backend/aws/orchestrator/main.go
  cmd/backend/aws/websocket/manager/main.go
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Simplify event manager
  README.md
  cmd/backend/aws/event_processor/main.go
  docs/ARCHITECTURE.md
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Enable cw log filter
  README.md
  deployments/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

Implement CloudWatch Logs streaming to WebSocket connections
  README.md
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Fix WebSocket message format for log streaming
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Fix log event formatting in WebSocket messages
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Remove redundant comments in CloudWatch logs handler
  internal/events/processor.go
Due: go-fmt, go-imports

Send log batches as single WebSocket messages
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Send NLJSON batch directly without WebSocketMessage wrapper
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Wrap NLJSON batch in WebSocketMessage for proper JSON parsing
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Send log events as JSON array instead of escaped NLJSON
  README.md
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Remove batching mechanism and send log events individually
  README.md
  cmd/cli/cmd/logs.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
