Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

wip
  .github/workflows/golangci-lint.yml
  .github/workflows/tests-and-coverage.yml
  README.md
Due: update-readme-help

wip
  .github/workflows/tests-and-coverage.yml
  README.md
Due: update-readme-help

wip
  README.md
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/constants/ecs.go
Due: go-fmt, go-imports, update-readme-help

Bump go version (#256)
  .github/workflows/golangci-lint.yml
  .github/workflows/tests-and-coverage.yml
  README.md
  cmd/cli/cmd/playbook.go
  cmd/local/main.go
  docs/CLI.md
  go.mod
  go.sum
  internal/config/config.go
  internal/constants/constants.go
  internal/constants/constants_test.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/constants/ecs.go
Due: go-fmt, go-imports, update-readme-help

Split constants
  README.md
  internal/constants/config.go
  internal/constants/constants.go
  internal/constants/context.go
  internal/constants/conversion.go
  internal/constants/crypto.go
  internal/constants/execution.go
  internal/constants/git.go
  internal/constants/http.go
  internal/constants/time.go
  internal/constants/types.go
  internal/constants/ui.go
  internal/constants/validation.go
  internal/constants/version.go
  internal/constants/websocket.go
  internal/providers/aws/database/dynamodb/mock_client.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Restructure folders
  README.md
  cmd/backend/providers/aws/event_processor/main.go
  cmd/local/main.go
  cmd/local/server/server.go
  docs/ARCHITECTURE.md
  internal/app/app.go
  internal/app/orchestrator/execution_test.go
  internal/app/orchestrator/executions.go
  internal/app/orchestrator/image_test.go
  internal/app/orchestrator/images.go
  internal/app/orchestrator/images_test.go
  internal/app/orchestrator/init.go
  internal/app/orchestrator/main.go
  internal/app/orchestrator/main_test.go
  internal/app/orchestrator/mocks_test.go
  internal/app/orchestrator/secrets.go
  internal/app/orchestrator/secrets_test.go
  internal/app/orchestrator/users.go
  internal/app/orchestrator/users_test.go
  internal/app/processor/backend.go
  internal/app/processor/backend_test.go
  internal/app/processor/events_test.go
  internal/app/processor/init.go
  internal/app/processor/init_test.go
  internal/providers/aws/lambdaapi/event_handler.go
Due: go-fmt, go-imports, update-readme-help

Remove backward comp
  README.md
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  docs/ARCHITECTURE.md
  internal/app/app.go
  internal/providers/aws/lambdaapi/handler.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Restructure folders
  README.md
  docs/ARCHITECTURE.md
  internal/app/orchestrator/init.go
  internal/providers/aws/events/init.go
  internal/providers/aws/orchestrator/client.go
  internal/providers/aws/orchestrator/context.go
  internal/providers/aws/orchestrator/context_test.go
  internal/providers/aws/orchestrator/image_parser.go
  internal/providers/aws/orchestrator/image_parser_test.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/providers/aws/orchestrator/scripts.go
  internal/providers/aws/orchestrator/scripts_test.go
  internal/providers/aws/orchestrator/tags.go
  internal/providers/aws/orchestrator/tags_test.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/orchestrator/taskdef_test.go
  internal/providers/aws/orchestrator/templates/main.sh.tmpl
  internal/providers/aws/orchestrator/templates/sidecar.sh.tmpl
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

Restructure folders
  .gitignore
  README.md
  cmd/backend/providers/aws/processor/main.go
  docs/ARCHITECTURE.md
  internal/app/processor/init.go
  internal/providers/aws/processor/backend.go
  internal/providers/aws/processor/backend_test.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/processor/types.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Better logs
  README.md
  internal/app/orchestrator/init.go
  internal/app/processor/init.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/websocket/client.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_helper_test.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports, update-readme-help

Update README.md
  README.md
Due: update-readme-help

Better error handling
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/app/orchestrator/secrets.go
  internal/errors/errors.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/handlers.go
  internal/server/handlers_secrets.go
Due: go-fmt, go-imports, update-readme-help

Remove useless tagging
  README.md
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

Restructure folders
  README.md
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/backend/providers/aws/processor/main.go
  cmd/local/main.go
  cmd/local/server/server.go
  docs/ARCHITECTURE.md
  docs/TESTING_STRATEGY.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/main_test.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/backend/processor/backend.go
  internal/backend/processor/backend_test.go
  internal/backend/processor/events_test.go
  internal/backend/processor/init.go
  internal/backend/processor/init_test.go
  internal/backend/websocket/manager.go
  internal/providers/aws/lambdaapi/event_handler.go
  internal/providers/aws/lambdaapi/handler.go
  internal/providers/aws/processor/backend.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Add Documentation GH flow
  .github/workflows/docs.yml
  README.md
Due: update-readme-help

Cleanup GH flows
  .github/actions/setup-go/action.yml
  .github/workflows/docs.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/tests-and-coverage.yml
  README.md
Due: update-readme-help

Remove cmd/webapp/README.md and update main README
  README.md
  cmd/webapp/README.md
Due: update-readme-help

wip
  README.md
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

Remove cmd/webapp/README.md and update main README (#257)
  README.md
  cmd/webapp/README.md
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

Remove buildRoleComposite helper function
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports

Remove buildRoleComposite helper function (#258)
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports

Fix UpdateSecret to preserve metadata when not provided
  internal/providers/aws/database/secrets.go
Due: go-fmt, go-imports

Add comprehensive tests for UpdateSecret metadata preservation
  internal/providers/aws/database/secrets_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/database/secrets.go
  internal/providers/aws/database/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Fix UpdateSecret to preserve metadata when not provided (#259)
  README.md
  internal/providers/aws/database/secrets.go
  internal/providers/aws/database/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Update readme
  README.md
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

Up README.md
  README.md
Due: update-readme-help

Update webapp look
  README.md
  cmd/webapp/src/app.html
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/styles/global.css
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: update-readme-help

Add filtering and limit to /executions
  README.md
  cmd/cli/cmd/list.go
  cmd/cli/cmd/list_test.go
  cmd/cli/cmd/status_test.go
  docs/CLI.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/mocks_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/client/interface.go
  internal/constants/execution.go
  internal/database/repository.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/processor/backend_test.go
  internal/server/handlers.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Improve filtering
  README.md
  internal/providers/aws/database/dynamodb/executions.go
Due: go-fmt, go-imports, update-readme-help

Fix template
  README.md
  internal/providers/aws/orchestrator/templates/sidecar.sh.tmpl
Due: update-readme-help

Update readme
  README.md
Due: update-readme-help

Up readme
  README.md
Due: update-readme-help

feat: Implement health manager for resource reconciliation
  docs/ARCHITECTURE.md
  internal/backend/health/health.go
  internal/backend/orchestrator/health.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/backend/processor/init.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/health/manager_test.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/orchestrator/taskdef_recreation.go
  internal/providers/aws/processor/backend.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/secrets/client.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/health/health.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/constants/secrets.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/health/manager_test.go
  internal/providers/aws/orchestrator/health_adapter.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/orchestrator/taskdef_recreation.go
  internal/providers/aws/orchestrator/taskdef_test.go
  internal/providers/aws/processor/backend.go
  internal/providers/aws/processor/backend_test.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/secrets/manager_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/ARCHITECTURE.md
  internal/backend/health/health.go
  internal/backend/orchestrator/health.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/health/manager_test.go
  internal/providers/aws/processor/backend.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/health.go
  internal/providers/aws/client/ecs.go
  internal/providers/aws/client/iam.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/orchestrator/client.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
