Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Automate readme cli command updates (#44)
  .cursorrules
  .pre-commit-config.yaml
  README.md
  justfile
  scripts/update-readme-help.sh
Due: update-readme-help

wip
  README.md
  cmd/runvoy/cmd/root.go
Due: go-fmt, go-imports, update-readme-help

wip
  .pre-commit-config.yaml
Due: none

wip
  README.md
Due: update-readme-help

wip
  justfile
Due: none

Refactor: Replace bash script with Go for README update
  .cursorrules
  justfile
  scripts/update-readme-help.go
  scripts/update-readme-help.sh
Due: go-fmt, go-imports, update-readme-help

wip
  justfile
  scripts/update-readme-help.go
Due: go-fmt, go-imports

Rewrite readme update script in go (#46)
  .cursorrules
  justfile
  scripts/update-readme-help.go
  scripts/update-readme-help.sh
Due: go-fmt, go-imports, update-readme-help

Add comprehensive debug logging for external service calls
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/client/client.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/logger/context.go
Due: go-fmt, go-imports

cleanup justfile
  go.mod
  go.sum
  justfile
  scripts/seed-admin-user.go
Due: go-fmt, go-imports

wip
  README.md
  justfile
  scripts/seed-admin-user/main.go
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

Add comprehensive debug logging for external service calls (#47)
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/client/client.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/logger/context.go
Due: go-fmt, go-imports

feat: Add colored log handler for development environments
  internal/logger/color_handler.go
  internal/logger/logger.go
Due: go-fmt, go-imports

feat: Add colored log handler for development environments (#48)
  internal/logger/color_handler.go
  internal/logger/logger.go
Due: go-fmt, go-imports

wip
  internal/logger/color_handler.go
Due: go-fmt, go-imports

wip
  cmd/runvoy/cmd/root.go
  internal/logger/color_handler.go
Due: go-fmt, go-imports

lint
  cmd/runvoy/cmd/run.go
  internal/errors/errors.go
  internal/logger/color_handler.go
Due: go-fmt, go-imports

add tint to dev logs
  go.mod
  go.sum
  internal/logger/color_handler.go
  internal/logger/logger.go
Due: go-fmt, go-imports

Actualizar README.md
  README.md
Due: update-readme-help

wip
  ARCHITECTURE.md
Due: none

cleanups
  README.md
  internal/app/main.go
  internal/auth/apikey.go
  justfile
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  justfile
Due: update-readme-help

feat: Add script to create config file with API endpoint
  justfile
  scripts/create-config-file/main.go
Due: go-fmt, go-imports

feat: Add script to create config file with API endpoint (#50)
  justfile
  scripts/create-config-file/main.go
Due: go-fmt, go-imports

bump version
  VERSION
Due: none

wip
  internal/events/ecs_completion.go
  internal/events/processor.go
Due: go-fmt, go-imports

wip
  README.md
  go.mod
  go.sum
  justfile
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Improve .env sync logic and formatting
  scripts/sync-env-vars/main.go
Due: go-fmt, go-imports

feat: Add CI/CD, testing improvements, and project roadmap
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  GITHUB_ISSUES.md
  PROJECT_ANALYSIS.md
  ROADMAP.md
  internal/output/examples_test.go
  internal/output/output_test.go
Due: go-fmt, go-imports

update github flow
  .github/workflows/ci.yml
Due: none

wip
  .github/workflows/ci.yml
Due: none

Review project for best practices compliance (#52)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  GITHUB_ISSUES.md
  PROJECT_ANALYSIS.md
  ROADMAP.md
  internal/output/examples_test.go
  internal/output/output_test.go
Due: go-fmt, go-imports

wip
  docs/PROJECT_ANALYSIS.md
Due: none

bump deps
  go.mod
  go.sum
  justfile
Due: none

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
