Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

More coverage
  README.md
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Actualizar handlers.go
  internal/server/handlers.go
Due: go-fmt, go-imports

Simplify authorizer
  README.md
  internal/backend/orchestrator/main.go
  internal/server/authorization_test.go
  internal/server/handlers.go
  internal/server/handlers_executions.go
  internal/server/handlers_health.go
  internal/server/handlers_images.go
  internal/server/handlers_secrets.go
  internal/server/handlers_users.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
Due: update-readme-help

wip
  README.md
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Improve handlers.go (#273)
  README.md
  internal/backend/orchestrator/main.go
  internal/server/authorization_test.go
  internal/server/handlers.go
  internal/server/handlers_executions.go
  internal/server/handlers_health.go
  internal/server/handlers_images.go
  internal/server/handlers_secrets.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_test.go
  internal/server/handlers_users.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Fix: Grant SSM GetParameter permission for secrets
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

Fix: Grant SSM GetParameter permission for secrets (#274)
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

wip
  README.md
  docs/ARCHITECTURE.md
  internal/auth/authorization/enforcer.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Update SSM parameter access to include GetParameters and use ProjectName
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

wip
  README.md
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/server/handlers_status_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/users_test.go
Due: go-fmt, go-imports, update-readme-help

Implement ownership management functions
  README.md
  docs/ARCHITECTURE.md
  internal/auth/authorization/enforcer.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Update SSM parameter access to include GetParameters and use ProjectName (#276)
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

Fix read policies
  README.md
  internal/auth/authorization/casbin/policy.csv
  internal/server/authorization_test.go
Due: go-fmt, go-imports, update-readme-help

Use enum for enforcer actions
  README.md
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/roles.go
  internal/auth/authorization/roles_test.go
  internal/backend/orchestrator/executions.go
  internal/server/authorization_test.go
  internal/server/handlers_images.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Use enum for enforcer actions (#277)
  README.md
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/roles.go
  internal/auth/authorization/roles_test.go
  internal/backend/orchestrator/executions.go
  internal/server/authorization_test.go
  internal/server/handlers_images.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Allow operator to read users
  README.md
  internal/auth/authorization/casbin/policy.csv
  justfile
Due: update-readme-help

feat: Add Casbin health checks and reporting
  internal/auth/authorization/enforcer.go
  internal/backend/health/health.go
  internal/backend/orchestrator/init.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/health/casbin.go
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

wip
  README.md
  internal/backend/health/health.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/health/health.go
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/health/health.go
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports, update-readme-help

Enhance health reconciler with casbin checks (#278)
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/auth/authorization/enforcer.go
  internal/backend/health/health.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

Cleanups
  README.md
  internal/api/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Fix operator role
  README.md
  internal/auth/authorization/casbin/policy.csv
Due: update-readme-help

More coverage
  README.md
  internal/providers/aws/client/cloudwatchlogs_test.go
  internal/providers/aws/client/ecs_test.go
  internal/providers/aws/client/iam_test.go
  internal/providers/aws/ecsdefs/taskdefs_test.go
  internal/providers/aws/identity/identity_test.go
Due: go-fmt, go-imports, update-readme-help

Allow operator+developer to run commands
  README.md
  internal/auth/authorization/casbin/policy.csv
Due: update-readme-help

wip
  README.md
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/mocks_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports, update-readme-help

Unify authorization into middleware
  README.md
  docs/ARCHITECTURE.md
  internal/auth/authorization/casbin/policy.csv
  internal/server/authorization_test.go
  internal/server/handlers.go
  internal/server/handlers_executions.go
  internal/server/handlers_health.go
  internal/server/handlers_images.go
  internal/server/handlers_secrets.go
  internal/server/handlers_test.go
  internal/server/handlers_users.go
  internal/server/middleware.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

Fix authz for /run
  README.md
  docs/ARCHITECTURE.md
  internal/backend/orchestrator/executions.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Fix missing registeredBy in images
  README.md
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/handlers_images.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Fix in image registration and tagging
  README.md
  internal/providers/aws/orchestrator/images_dynamodb.go
Due: go-fmt, go-imports, update-readme-help

Release 0.2.0, bump deps
  README.md
  VERSION
  go.mod
  go.sum
Due: update-readme-help

Extend loadResourceOwnerships to include image ownerships
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports

Update docs
  README.md
  cmd/cli/cmd/images.go
  docs/CLI.md
Due: go-fmt, go-imports, update-readme-help
