Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

fix(aws): ttl cleanup for buffered logs
  deploy/providers/aws/cloudformation-backend.yaml
  internal/api/logs.go
  internal/api/websocket.go
  internal/api/websocket_test.go
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/database/repository.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/dynamodb/log_events_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/repositories.go
  internal/providers/aws/processor/backend_test.go
  internal/providers/aws/processor/cloud_events.go
  internal/providers/aws/processor/cloud_events_test.go
  internal/providers/aws/processor/ecs_events.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/processor/log_repo_stub_test.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports

fix: stream buffered websocket logs
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/mocks_test.go
  internal/database/repository.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/dynamodb/log_events_test.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports

chore(aws): centralize log event ttl
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/log_events.go
Due: go-fmt, go-imports

wip
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/backend/contract/interfaces.go
  internal/backend/contract/interfaces_test.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/websocket/manager.go
  internal/backend/websocket/manager_test.go
  internal/config/config_test.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/backend_test.go
  internal/providers/aws/processor/cloud_events_test.go
  internal/providers/aws/processor/ecs_events_test.go
  internal/providers/aws/processor/log_repo_stub_test.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/dynamodb/mock_client.go
  scripts/truncate-dynamodb-table/main.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/dynamodb/log_events_test.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

feat(logs): add dynamodb buffer for improved log streaming
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/api/logs.go
  internal/api/websocket.go
  internal/api/websocket_test.go
  internal/backend/contract/interfaces.go
  internal/backend/contract/interfaces_test.go
  internal/backend/orchestrator/executions_trace_test.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/websocket/manager.go
  internal/backend/websocket/manager_test.go
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/database/repository.go
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/connections.go
  internal/providers/aws/database/dynamodb/log_events.go
  internal/providers/aws/database/dynamodb/log_events_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/repositories.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/backend_test.go
  internal/providers/aws/processor/cloud_events.go
  internal/providers/aws/processor/cloud_events_test.go
  internal/providers/aws/processor/ecs_events.go
  internal/providers/aws/processor/ecs_events_test.go
  internal/providers/aws/processor/init.go
  internal/providers/aws/processor/log_repo_stub_test.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
  internal/server/handlers_executions_test.go
  internal/server/handlers_test.go
  scripts/truncate-dynamodb-table/main.go
Due: go-fmt, go-imports, update-readme-help

feat(client): improve log streaming handling
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/playbook_test.go
  cmd/cli/cmd/run_service_test.go
  cmd/webapp/src/views/LogsView.svelte
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports, update-readme-help

fix(web): remove useless index fallback
  README.md
  cmd/webapp/svelte.config.js
Due: update-readme-help

ci: moved dev web into its own Netlify project
  .justfiles/deploy.just
  README.md
Due: update-readme-help

Refactor websocket disconnect handling and log fetching
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/views/LogsView.svelte
Due: none

wip
  README.md
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

feat(webapp): optimize log retrieval after websocket close #358
  README.md
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

fix(webapp): cleanup logs flow
  README.md
  cmd/webapp/src/views/LogsView.svelte
  deploy/providers/aws/cloudformation-backend.yaml
Due: update-readme-help

refactor(cli): simplify logs retrieval
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run.go
Due: go-fmt, go-imports

refactor(cli): simplify logs retrieval (#360)
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run.go
Due: go-fmt, go-imports

fix(webapp): improve modal accessibility
  cmd/webapp/src/components/ConnectionManager.svelte
Due: none

fix(webapp): improve modal accessibility (#361)
  cmd/webapp/src/components/ConnectionManager.svelte
Due: none

tool(just): add print-build-version
  .justfiles/utils.just
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/components/ConnectionManager.svelte
Due: update-readme-help

docs(web): update header link
  README.md
  cmd/webapp/src/routes/+layout.svelte
Due: update-readme-help

fix(webapp): use sveltekit version directly
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/svelte.config.js
  cmd/webapp/vite.config.js
Due: none

fix(webapp): use sveltekit version directly (#362)
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/svelte.config.js
  cmd/webapp/vite.config.js
Due: none

fix(webapp): consolidate api configuration
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ConnectionManager.test.ts
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
  cmd/webapp/vitest.setup.ts
Due: none

test: import writable in ViewSwitcher test
  cmd/webapp/src/components/ViewSwitcher.test.ts
Due: none

wip
  README.md
  cmd/webapp/src/components/ViewSwitcher.test.ts
Due: update-readme-help

fix(webapp): consolidate api configuration (#363)
  README.md
  cmd/webapp/src/components/ConnectionManager.svelte
  cmd/webapp/src/components/ConnectionManager.test.ts
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
  cmd/webapp/vitest.setup.ts
Due: update-readme-help

test(aws/health): cover compute defaults and tags
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/health/compute_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/health/compute_test.go
Due: go-fmt, go-imports, update-readme-help

test(aws/health): cover compute defaults and tags (#364)
  README.md
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/health/compute_test.go
Due: go-fmt, go-imports, update-readme-help

fix(webapp): simplify ws flow
  README.md
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

refactor(webapp): normalize log event types
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/types/logs.ts
  cmd/webapp/src/types/run.ts
  cmd/webapp/src/types/stores.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: none

fix(webapp): remove lint disables from log rendering
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/lib/ansi.test.ts
  cmd/webapp/src/lib/ansi.ts
  cmd/webapp/src/lib/websocket.ts
Due: none

refactor(webapp): normalize log event types (#365)
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/types/logs.ts
  cmd/webapp/src/types/run.ts
  cmd/webapp/src/types/stores.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
Due: none

fix(webapp): remove lint disables from log rendering (#366)
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/lib/ansi.test.ts
  cmd/webapp/src/lib/ansi.ts
  cmd/webapp/src/lib/websocket.ts
Due: none

fix(webapp): remove obsolete normalize func
  README.md
  cmd/webapp/src/types/logs.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

fix(webapp): cleanup settings onboarding
  README.md
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

fix(webapp): redirect claim to configure endpoint
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/layout.test.ts
Due: none

fix(webapp): redirect claim to configure endpoint (#367)
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/layout.test.ts
Due: none

fix(webapp): refresh health after saving settings
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
Due: none

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
