Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

fix(webapp): stabilize log viewer auto-scroll
  cmd/webapp/src/components/LogViewer.svelte
Due: none

wip
  README.md
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogLine.test.ts
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/LogViewer.test.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

refactor(webapp): improve log viewer performance with virtualization and batching (#401)
  README.md
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogLine.test.ts
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/LogViewer.test.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

fix(webapp): remove double call to status after disconnect
  README.md
  cmd/webapp/src/lib/websocket.test.ts
  cmd/webapp/src/lib/websocket.ts
Due: update-readme-help

refactor: simplify log lines index handling
  README.md
  cmd/cli/cmd/logs.go
  cmd/cli/cmd/logs_test.go
  cmd/cli/cmd/run.go
  cmd/webapp/src/views/LogsView.svelte
Due: go-fmt, go-imports, update-readme-help

refactor(webapp): simplify logs view state
  cmd/webapp/src/views/LogsView.svelte
Due: none

refactor(web): split god logsview into modules
  README.md
  cmd/webapp/src/lib/execution/actions.test.ts
  cmd/webapp/src/lib/execution/actions.ts
  cmd/webapp/src/lib/execution/index.ts
  cmd/webapp/src/lib/execution/types.ts
  cmd/webapp/src/lib/logs/LogsManager.test.ts
  cmd/webapp/src/lib/logs/LogsManager.ts
  cmd/webapp/src/lib/logs/index.ts
  cmd/webapp/src/lib/logs/types.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

refactor(web): split god logsview into modules (#403)
  README.md
  cmd/webapp/src/lib/execution/actions.test.ts
  cmd/webapp/src/lib/execution/actions.ts
  cmd/webapp/src/lib/execution/index.ts
  cmd/webapp/src/lib/execution/types.ts
  cmd/webapp/src/lib/logs/LogsManager.test.ts
  cmd/webapp/src/lib/logs/LogsManager.ts
  cmd/webapp/src/lib/logs/index.ts
  cmd/webapp/src/lib/logs/types.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

ci: release v0.5.0
  CHANGELOG.md
  README.md
  VERSION
Due: update-readme-help

refactor: replace dynamodb scans with queries
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/client.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/secrets_test.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/dynamodb/users_test.go
Due: go-fmt, go-imports, update-readme-help

refactor!: replace dynamodb scans with queries (#404)
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/providers/aws/constants/dynamodb.go
  internal/providers/aws/database/dynamodb/client.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/secrets_test.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/dynamodb/users_test.go
Due: go-fmt, go-imports, update-readme-help

style(webapp): streamline layout spacing
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/styles/global.css
Due: none

style(webapp): streamline layout spacing (#405)
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/styles/global.css
Due: none

fix(webapp): preserve execution id between routes
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: none

fix(webapp): preserve execution id between routes (#406)
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: none

style(webapp): squeze execution selector into main logs card
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/lib/execution/actions.test.ts
  cmd/webapp/src/lib/execution/actions.ts
  cmd/webapp/src/lib/execution/index.ts
  cmd/webapp/src/lib/execution/types.ts
  cmd/webapp/src/lib/logs/LogsManager.test.ts
  cmd/webapp/src/lib/logs/LogsManager.ts
  cmd/webapp/src/lib/logs/index.ts
  cmd/webapp/src/lib/logs/types.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

deps: bump
  README.md
  go.mod
  go.sum
Due: update-readme-help

fix(webapp): align execution id input inline
  cmd/webapp/src/components/ExecutionSelector.svelte
Due: none

wip
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
Due: update-readme-help

fix(webapp): align execution id input inline (#408)
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
Due: update-readme-help

fix(status): require command and image metadata
  cmd/cli/cmd/status.go
  cmd/cli/cmd/status_test.go
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/lib/logs/LogsManager.test.ts
  cmd/webapp/src/lib/logs/LogsManager.ts
  cmd/webapp/src/lib/logs/types.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
  internal/api/executions.go
  internal/api/executions_test.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/client/client.go
  internal/client/client_test.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/server/handlers_executions_test.go
Due: go-fmt, go-imports

wip
  cmd/cli/cmd/status.go
  cmd/webapp/src/components/ExecutionRow.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/constants.test.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/lib/execution/actions.test.ts
  cmd/webapp/src/lib/logs/LogsManager.test.ts
  cmd/webapp/src/lib/logs/LogsManager.ts
  cmd/webapp/src/lib/logs/types.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.test.ts
  internal/api/executions.go
  internal/api/executions_test.go
  internal/backend/orchestrator/execution_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/providers/aws/database/dynamodb/executions.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/playbook_test.go
  cmd/cli/cmd/run_service_test.go
  cmd/cli/cmd/status.go
  cmd/cli/cmd/status_test.go
  cmd/webapp/src/lib/api.ts
  internal/api/executions.go
  internal/api/executions_test.go
  internal/backend/orchestrator/executions.go
  internal/client/client_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
Due: go-fmt, go-imports, update-readme-help

feat: enforce command and image metadata in status reporting (#407)
  README.md
  cmd/cli/cmd/playbook_test.go
  cmd/cli/cmd/run_service_test.go
  cmd/cli/cmd/status.go
  cmd/cli/cmd/status_test.go
  cmd/webapp/src/components/ExecutionRow.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/lib/constants.test.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/lib/execution/actions.test.ts
  cmd/webapp/src/lib/logs/LogsManager.test.ts
  cmd/webapp/src/lib/logs/LogsManager.ts
  cmd/webapp/src/lib/logs/types.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
  cmd/webapp/src/views/RunView.test.ts
  internal/api/executions.go
  internal/api/executions_test.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/client/client.go
  internal/client/client_test.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/server/handlers_executions_test.go
Due: go-fmt, go-imports, update-readme-help

ci: bump golangci
  .github/workflows/golangci-lint.yml
  README.md
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/mock_client.go
Due: go-fmt, go-imports, update-readme-help

deps(webapp): bump
  README.md
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

style(webapp): new compact layout for logs
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/components/WebSocketStatus.test.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

style(webapp): new compact layout for logs (#419)
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogControls.test.ts
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/components/WebSocketStatus.test.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

docs: describe user roles
  README.md
Due: update-readme-help

wip
  README.md
Due: update-readme-help

docs: add user role overview to README (#420)
  README.md
Due: update-readme-help

feat: add deletion protection to cloudwatch logs groups
  .justfiles/infra.just
  .justfiles/utils.just
  README.md
  deploy/axiom/axiom-forwarder.yaml
  deploy/providers/aws/cloudformation-backend.yaml
  scripts/axiom-forwarder/main.go
Due: go-fmt, go-imports, update-readme-help

ci(webapp): add svelte sync step to fix warnings
  README.md
  cmd/webapp/package.json
Due: update-readme-help

refactor(aws): add iterator for task definition pagination
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/orchestrator/taskdef_test.go
Due: go-fmt, go-imports

test(orchestrator): cover paginated image removal
  internal/providers/aws/orchestrator/images_dynamodb_test.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/orchestrator/images_dynamodb_test.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/orchestrator/image_manager.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/orchestrator/taskdef.go
Due: go-fmt, go-imports

refactor: add iterator-based pagination for ECS task definitions (#422)
  internal/providers/aws/orchestrator/image_manager.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/orchestrator/taskdef_test.go
Due: go-fmt, go-imports
