Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  README.md
  deployments/cloudformation-backend.yaml
  internal/config/config.go
  internal/websocket/connection_manager.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

log_forwarder: add concurrent ws sends
  README.md
  go.mod
  go.sum
  internal/constants/constants.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

Temporary set default log level to debug
  README.md
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

Cleanup cloudformation resources
  README.md
  deployments/cloudformation-backend.yaml
  internal/app/aws/logs.go
  internal/app/main.go
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

Cleanup logs
  README.md
  internal/database/dynamodb/connections.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Use snake_case for log field names
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/app/main.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/events/ecs_completion.go
  internal/server/handlers.go
Due: go-fmt, go-imports

Refactor: Use snake_case for log field names
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/database/dynamodb/executions.go
  internal/events/ecs_completion.go
  internal/server/handlers.go
Due: go-fmt, go-imports

wip
  README.md
  internal/app/aws/logs.go
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

Standardize backend log statement naming (#140)
  README.md
  internal/app/aws/logs.go
  internal/app/aws/runner.go
  internal/app/aws/taskdef.go
  internal/app/main.go
  internal/database/dynamodb/connections.go
  internal/database/dynamodb/executions.go
  internal/database/dynamodb/users.go
  internal/events/ecs_completion.go
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

Update README
  README.md
Due: update-readme-help

Simplify GET /logs, remove /stream
  README.md
  cmd/runvoy/cmd/claim_test.go
  cmd/runvoy/cmd/images_test.go
  cmd/runvoy/cmd/kill_test.go
  cmd/runvoy/cmd/list_test.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/logs_test.go
  cmd/runvoy/cmd/run_service_test.go
  cmd/runvoy/cmd/status_test.go
  cmd/runvoy/cmd/users_test.go
  cmd/webviewer/index.html
  internal/api/types.go
  internal/app/main.go
  internal/client/client.go
  internal/client/interface.go
  internal/server/handlers.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

feat: Add retry logic for 404 errors when fetching logs
  cmd/runvoy/cmd/logs.go
Due: go-fmt, go-imports

log_forwarder: sort logs before sending
  README.md
  cmd/runvoy/cmd/logs.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

cli logs cleanup
  README.md
  cmd/runvoy/cmd/list.go
  cmd/runvoy/cmd/logs.go
  cmd/runvoy/cmd/users.go
Due: go-fmt, go-imports, update-readme-help

Revise README for clarity and feature updates
  README.md
Due: update-readme-help

Update README to specify no admin credentials or ssh
  README.md
Due: update-readme-help

Improve task execution state signalling in logs endpoint
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
Due: go-fmt, go-imports

Update readme
  README.md
Due: update-readme-help

wip
  README.md
  internal/api/types.go
  internal/app/execution_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
Due: update-readme-help

Improve task execution state signaling (#142)
  README.md
  internal/api/types.go
  internal/app/execution_test.go
  internal/app/main.go
Due: go-fmt, go-imports, update-readme-help

Fix broken ws in webviewer
  README.md
  cmd/webviewer/index.html
Due: update-readme-help

Implement active WebSocket connection cleanup on execution terminal state
  README.md
  internal/database/dynamodb/connections.go
  internal/database/repository.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/dynamodb/connections.go
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/database/dynamodb/connections.go
Due: go-fmt, go-imports, update-readme-help

Add disconnect message notifications via Lambda invocation
  README.md
  cmd/backend/aws/websocket/log_forwarder/main.go
  internal/app/init.go
  internal/config/config.go
  internal/config/config_test.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

Update CloudFormation to enable event processor Lambda permissions
  README.md
  deployments/cloudformation-backend.yaml
Due: update-readme-help

Fix environment variable binding for WebSocketManagerFunctionName
  README.md
  internal/config/config.go
  internal/database/dynamodb/connections.go
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Use existing ConnectionManager Lambda for WebSocket disconnect notifications
  README.md
  cmd/backend/aws/websocket/connection_manager/main.go
  deployments/cloudformation-backend.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/connection_manager.go
  internal/websocket/log_forwarder.go
Due: go-fmt, go-imports, update-readme-help

Rename: Change ConnectionManager to WebSocketManager
  README.md
  cmd/backend/aws/websocket/websocket_manager/main.go
  deployments/cloudformation-backend.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/events/ecs_completion.go
  internal/events/events_test.go
  internal/events/processor.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/backend/aws/websocket/manager/main.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Fix: Restore API Gateway WebSocket handler compatibility
  README.md
  cmd/backend/aws/websocket/manager/main.go
  deployments/cloudformation-backend.yaml
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Simplify WebSocket manager interface using unified event format
  README.md
  internal/events/ecs_completion.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/events/ecs_completion.go
Due: go-fmt, go-imports, update-readme-help

Fix: Move WebSocket cleanup responsibility to websocket_manager
  README.md
  internal/events/ecs_completion.go
  internal/websocket/websocket_manager.go
Due: go-fmt, go-imports, update-readme-help
