Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

fix(webapp): refresh health after saving settings (#368)
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
Due: none

refactor(webapp): remove legacy configure api views
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/ListExecutionsView.test.ts
  cmd/webapp/src/views/RunView.svelte
Due: none

build(webapp): migrate to svelte 5
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/views/SettingsView.test.ts
Due: none

wip
  README.md
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/vitest.config.ts
Due: update-readme-help

feat(webapp): migrate webapp to Svelte 5 toolchain (#369)
  README.md
  cmd/webapp/package-lock.json
  cmd/webapp/package.json
  cmd/webapp/src/components/ViewSwitcher.test.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
  cmd/webapp/vitest.config.ts
Due: update-readme-help

refactor(webapp): adopt svelte runes patterns
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/svelte.config.js
Due: none

wip
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.svelte
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
Due: update-readme-help

wip
  README.md
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/websocket.ts
Due: update-readme-help

refactor: modernize Svelte runes usage (#371)
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/components/LogLine.svelte
  cmd/webapp/src/components/LogViewer.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/ViewSwitcher.svelte
  cmd/webapp/src/components/WebSocketStatus.svelte
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/stores/websocket.ts
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/RunView.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/svelte.config.js
Due: update-readme-help

fix(webapp): reorder nav buttons
  README.md
  cmd/webapp/src/routes/+layout.svelte
Due: update-readme-help

fix(webapp): load persisted config and enforce redirects
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/stores/config.ts
Due: none

wip
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/svelte.config.js
  cmd/webapp/vitest.setup.ts
Due: update-readme-help

fix(webapp): load persisted config and enforce redirects
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/svelte.config.js
  cmd/webapp/vitest.setup.ts
Due: update-readme-help

fix(webapp): hydrate stores without server data
  cmd/webapp/src/routes/+layout.server.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/stores/config.test.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
Due: none

fix(webapp): remove server layout load
  cmd/webapp/src/routes/+layout.server.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/layout.test.ts
Due: none

wip
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/stores/config.test.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/views/ClaimView.svelte
Due: update-readme-help

refactor(webapp): update config storage
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/stores/config.test.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/views/ClaimView.svelte
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/src/views/SettingsView.test.ts
Due: update-readme-help

tool: add update-changelog script
  .justfiles/utils.just
  README.md
  scripts/update-changelog/main.go
Due: go-fmt, go-imports, update-readme-help

ci: release v0.4.0
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  VERSION
Due: update-readme-help

feat(webapp): expose api client via page loads
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/loaders/apiClient.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/routes/settings/+page.ts
  cmd/webapp/src/stores/config.ts
Due: none

wip
  README.md
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
Due: update-readme-help

refactor(webapp): expose webapp API clients via page load data (#374)
  README.md
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.svelte
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.svelte
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/loaders/apiClient.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
  cmd/webapp/src/routes/settings/+page.svelte
  cmd/webapp/src/routes/settings/+page.ts
  cmd/webapp/src/stores/config.ts
Due: update-readme-help

Refactor: Centralize constants to lib/constants.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/stores/ui.ts
Due: none

Refactor: Move constants to shared location
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
Due: none

refactor: centralize constants to lib/constants.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/stores/config.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/stores/logs.ts
  cmd/webapp/src/stores/ui.ts
Due: none

test: add more coverage to logs
  README.md
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/processor/logs_events_test.go
Due: go-fmt, go-imports, update-readme-help

test: add coverage to aws.health
  README.md
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/health/casbin_test.go
Due: go-fmt, go-imports, update-readme-help

docs: update README, no more need for log streaming improvement
  README.md
Due: update-readme-help

test: add coverage for aws.processor
  README.md
  docs/COVERAGE_ANALYSIS.md
  internal/providers/aws/processor/scheduled_events_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Fetch and merge runner and sidecar logs
  internal/providers/aws/orchestrator/log_manager.go
Due: go-fmt, go-imports

Refactor log fetching and merging logic
  internal/providers/aws/orchestrator/log_manager.go
Due: go-fmt, go-imports

feat: Add sidecar log fetching and merging
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Fetch and merge runner and sidecar logs
  README.md
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports, update-readme-help

docs: update README.md
  README.md
Due: update-readme-help

ci: release v0.4.1
  CHANGELOG.md
  README.md
  VERSION
Due: update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
