Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

docs: add badge to readme
  README.md
Due: update-readme-help

fix(logs): show web link in the right place
  README.md
  cmd/cli/cmd/logs.go
Due: go-fmt, go-imports, update-readme-help

feat: add eventID to all logs
  README.md
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/types/logs.ts
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/providers/aws/orchestrator/templates/main.sh.tmpl
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/types/logs.ts
  deploy/providers/aws/cloudformation-backend.yaml
  internal/api/logs.go
  internal/api/logs_test.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/processor/logs_events.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/auth/auth.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/processor/logs_events.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/processor/logs_events.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports, update-readme-help

feat: add eventID to all logs (#379)
  README.md
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/stores/logs.test.ts
  cmd/webapp/src/types/logs.ts
  deploy/providers/aws/cloudformation-backend.yaml
  internal/api/logs.go
  internal/api/logs_test.go
  internal/auth/auth.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/log_manager.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/providers/aws/orchestrator/observability_manager.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/providers/aws/orchestrator/templates/main.sh.tmpl
  internal/providers/aws/processor/logs_events.go
Due: go-fmt, go-imports, update-readme-help

style: uniform container meta logs format
  README.md
  internal/providers/aws/orchestrator/runner_test.go
  internal/providers/aws/orchestrator/templates/main.sh.tmpl
Due: go-fmt, go-imports, update-readme-help

fix(webapp): use correct id for log view
  README.md
  cmd/webapp/src/components/LogViewer.svelte
Due: update-readme-help

docs: add goreport badge
  README.md
Due: update-readme-help

fix(webapp): add websocket event validation
  README.md
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

fix(logs): disabimguate get logs response
  README.md
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/SettingsView.svelte
  internal/api/logs.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports, update-readme-help

fix(webapp): remove duplicated calls to /logs
  README.md
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

refactor(webapp): new exec view with modern SvelteKit patterns
  README.md
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
  cmd/webapp/src/views/RunView.svelte
Due: update-readme-help

wip
  README.md
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/ExecutionSelector.svelte
Due: update-readme-help

wip
  README.md
  cmd/webapp/eslint.config.js
Due: update-readme-help

refactor(webapp): new exec view with modern SvelteKit patterns (#382)
  README.md
  cmd/webapp/eslint.config.js
  cmd/webapp/src/components/ExecutionSelector.svelte
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/src/lib/executionState.ts
  cmd/webapp/src/routes/logs/+page.svelte
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
  cmd/webapp/src/views/RunView.svelte
Due: update-readme-help

fix(webapp): add _redirects to make Netlify play along SPA
  README.md
  cmd/webapp/static/_redirects
Due: update-readme-help

refactor: remove linter suppressions
  .golangci.yml
  README.md
  cmd/cli/cmd/playbook_test.go
  cmd/cli/cmd/trace.go
  internal/backend/orchestrator/execution_test.go
  internal/client/infra/deploy_test.go
  internal/client/output/output.go
  internal/client/playbooks/loader_test.go
  internal/constants/config.go
  internal/errors/errors.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/health/secrets.go
  internal/providers/aws/processor/ecs_events.go
  scripts/delete-s3-buckets/main.go
Due: go-fmt, go-imports, update-readme-help

test: enable nilerr linter
  .golangci.yml
  README.md
  internal/client/infra/deploy_aws.go
  internal/client/playbooks/loader.go
  internal/providers/aws/processor/cloud_events.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

test: enable wrapcheck and other linters
  .golangci.yml
  README.md
  cmd/cli/cmd/infra.go
  cmd/cli/cmd/logs.go
  internal/auth/auth.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/health.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/init.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/users.go
  internal/client/client.go
  internal/client/infra/deploy_aws.go
  internal/config/config.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/client/ecs.go
  internal/providers/aws/client/iam.go
  internal/providers/aws/database/dynamodb/client.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/health/compute.go
  internal/providers/aws/health/manager.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/processor/ecs_events.go
  internal/providers/aws/processor/logs_events.go
  internal/providers/aws/processor/types.go
  internal/providers/aws/secrets/client.go
  internal/providers/aws/websocket/client.go
  internal/server/helpers.go
  internal/server/router.go
  scripts/update-changelog/main.go
Due: go-fmt, go-imports, update-readme-help

refactor: enable nestif linter
  .golangci.yml
  README.md
  cmd/cli/cmd/infra.go
  internal/auth/authorization/enforcer_test.go
  internal/auth/authorization/hydrate_test.go
  internal/backend/orchestrator/execution_test.go
  internal/client/infra/deploy_aws.go
  internal/config/config.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/providers/aws/database/dynamodb/mock_client.go
  internal/providers/aws/orchestrator/image_manager.go
Due: go-fmt, go-imports, update-readme-help

refactor(webapp): split view into component
  README.md
  cmd/webapp/src/components/ExecutionRow.svelte
  cmd/webapp/src/components/ExecutionRow.test.ts
  cmd/webapp/src/components/LogControls.svelte
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

fix: remove unused orchestrator method
  README.md
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports, update-readme-help

fix(processor): ensure execution logs are always marked for deletion
  README.md
  internal/providers/aws/processor/ecs_events.go
Due: go-fmt, go-imports, update-readme-help

fix(webapp): cleanup logs view from duplicated data
  README.md
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

fix(webapp): update status correctly
  README.md
  cmd/webapp/src/components/ExecutionRow.svelte
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/lib/constants.test.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/lib/websocket.ts
  cmd/webapp/src/views/LogsView.svelte
  cmd/webapp/src/views/LogsView.test.ts
Due: update-readme-help

fix(webapp): display missing data to completed executions
  README.md
  cmd/webapp/src/components/StatusBar.svelte
  cmd/webapp/src/components/StatusBar.test.ts
  cmd/webapp/src/stores/execution.ts
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/ListExecutionsView.test.ts
  cmd/webapp/src/views/LogsView.svelte
Due: update-readme-help

Refactor: Use ExecutionStatusValue type for status fields
  cmd/webapp/src/types/api.ts
Due: none

Refactor: Move status and view types to status.ts
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/stores/ui.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/types/status.ts
Due: none

refactor: use ExecutionStatusValue type for status fields (#386)
  cmd/webapp/src/lib/constants.ts
  cmd/webapp/src/stores/ui.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/types/status.ts
Due: none

Refactor: Pass API client via layout load
  cmd/webapp/src/routes/+layout.ts
  cmd/webapp/src/routes/+page.ts
  cmd/webapp/src/routes/claim/+page.ts
  cmd/webapp/src/routes/executions/+page.ts
  cmd/webapp/src/routes/loaders/apiClient.ts
  cmd/webapp/src/routes/logs/+page.ts
  cmd/webapp/src/routes/settings/+page.ts
Due: none

Refactor: Pass APIClient instance to layout and pages
  cmd/webapp/src/routes/layout.test.ts
  cmd/webapp/src/routes/run-page.integration.test.ts
Due: none

Refactor: Loosen API client validation in layout
  cmd/webapp/src/lib/apiConfig.ts
  cmd/webapp/src/routes/+layout.ts
Due: none
