Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

feat: add execution list view to webapp
  README.md
  cmd/webapp/src/lib/api.test.ts
  cmd/webapp/src/routes/+layout.svelte
  cmd/webapp/src/routes/+page.svelte
  cmd/webapp/src/stores/ui.test.ts
  cmd/webapp/src/stores/ui.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/ListExecutionsView.svelte
  cmd/webapp/src/views/ListExecutionsView.test.ts
  cmd/webapp/src/views/SettingsView.svelte
  cmd/webapp/tsconfig.json
  cmd/webapp/vitest.config.ts
Due: update-readme-help

docs: modernize README with trendy style and emojis
  README.md
Due: update-readme-help

wip
  README.md
Due: update-readme-help

up
  README.md
Due: update-readme-help

docs: update README with modern emojis and style (#307)
  README.md
Due: update-readme-help

feat: add backend health check to webapp settings view
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/SettingsView.svelte
Due: none

feat: add backend health check to webapp settings view (#308)
  cmd/webapp/src/lib/api.ts
  cmd/webapp/src/types/api.ts
  cmd/webapp/src/views/SettingsView.svelte
Due: none

fix: lint webapp
  README.md
  cmd/webapp/src/views/SettingsView.svelte
Due: update-readme-help

test: add webapp tests and coverage GH flow
  .github/workflows/tests-and-coverage-go.yml
  .github/workflows/tests-and-coverage-svelte.yml
  .justfiles/test.just
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/vitest.config.ts
Due: update-readme-help

wip
  .github/workflows/tests-and-coverage-go.yml
  .github/workflows/tests-and-coverage-svelte.yml
  README.md
Due: update-readme-help

wip
  .github/workflows/tests-and-coverage-svelte.yml
  README.md
Due: update-readme-help

test: add webapp tests and coverage GH flow (#310)
  .github/workflows/tests-and-coverage-go.yml
  .github/workflows/tests-and-coverage-svelte.yml
  .justfiles/test.just
  README.md
  cmd/webapp/package.json
  cmd/webapp/src/lib/executionState.test.ts
  cmd/webapp/vitest.config.ts
Due: update-readme-help

chore: fix badge links
  README.md
Due: update-readme-help

docs: update readme
  README.md
  scripts/update-readme-help/main.go
Due: go-fmt, go-imports, update-readme-help

feat: add CloudWatch Logs Insights endpoint for admin request log queries
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/orchestrator/logs.go
  internal/server/handlers_executions.go
  internal/server/router.go
Due: go-fmt, go-imports

refactor: rename logs insights endpoint to GET /trace with admin-only access
  README.md
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

refactor: disambiguate execution logs vs backend logs
  README.md
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/orchestrator/logs.go
  internal/server/handlers_executions.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

docs: clarify execution logs vs backend logs in client code
  README.md
  internal/client/interface.go
Due: go-fmt, go-imports, update-readme-help

refactor: use single LogEvent type for execution and backend logs
  README.md
  internal/api/executions.go
  internal/api/logs.go
  internal/backend/orchestrator/mocks_test.go
  internal/providers/aws/orchestrator/logs.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/api/executions.go
  internal/api/logs.go
  internal/server/handlers_executions.go
Due: go-fmt, go-imports, update-readme-help

refactor: simplify LogEvent - remove unused Fields
  internal/api/logs.go
  internal/backend/orchestrator/main.go
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

wip
  internal/api/logs.go
Due: go-fmt, go-imports

wip
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/main.go
Due: go-fmt, go-imports

wip
  internal/client/interface.go
Due: go-fmt, go-imports

refactor: split FetchBackendLogs into focused helper functions
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: use structured field matching for backend logs query
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: remove arbitrary limit from backend logs query
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: search all historical logs for backend logs query
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: use strings.CutSuffix for log group derivation
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: remove unnecessary inline comments per AGENTS.md
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: discover log groups dynamically by prefix instead of explicit config
  internal/providers/aws/client/cloudwatchlogs.go
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs.go
  internal/providers/aws/orchestrator/logs_test.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/constants/cloudwatch.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/constants/cloudwatch.go
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

wip
  internal/providers/aws/orchestrator/logs.go
  internal/server/handlers_executions.go
Due: go-fmt, go-imports

refactor: add CloudWatch Logs permissions to orchestrator Lambda IAM role
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

wip
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

wip
  internal/providers/aws/orchestrator/logs.go
Due: go-fmt, go-imports

refactor: use Casbin authorization for backend logs endpoint
  internal/server/handlers_executions.go
Due: go-fmt, go-imports

wip
  internal/server/handlers_executions.go
  internal/server/router.go
Due: go-fmt, go-imports

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
