Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

Rename role environment variables to include DEFAULT_ prefix
  deploy/providers/aws/cloudformation-backend.yaml
  internal/config/aws/config.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/taskdef.go
Due: go-fmt, go-imports

Parse and store Docker image components (registry/name/tag)
  internal/api/images.go
  internal/providers/aws/app/image_parser.go
  internal/providers/aws/app/image_parser_test.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/database/dynamodb/images.go
Due: go-fmt, go-imports

Remove TaskDefinitionARN from public API ImageInfo struct
  internal/api/images.go
  internal/api/images_test.go
  internal/app/image_test.go
  internal/app/mocks_test.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/api/images.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/providers/aws/app/image_parser.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Remove task_definition_arn from DynamoDB, construct ARN from family name
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/database/dynamodb/images.go
Due: go-fmt, go-imports

Remove redundant is_default boolean field from DynamoDB schema
  internal/providers/aws/database/dynamodb/images.go
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/database/dynamodb/images.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/app/images_dynamodb.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  go.mod
  go.sum
  internal/auth/auth.go
  internal/constants/constants.go
  internal/providers/aws/app/images_dynamodb.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/app/init.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports, update-readme-help

Make Fargate container role assignment dynamic (#247)
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  go.mod
  internal/api/images.go
  internal/api/images_test.go
  internal/app/image_test.go
  internal/app/images.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/auth/auth.go
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
  internal/constants/constants.go
  internal/providers/aws/app/image_parser.go
  internal/providers/aws/app/image_parser_test.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Add tagging for ECS images, better deletion of taskdefs
  README.md
  internal/providers/aws/app/client.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/tags.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/app/taskdef_test.go
  internal/providers/aws/secrets/manager.go
Due: go-fmt, go-imports, update-readme-help

Update README.md
  README.md
Due: update-readme-help

Add comprehensive unit tests for image management features
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/tags_test.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports

Moar coverage
  README.md
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports, update-readme-help

Add unit tests for new features (#248)
  README.md
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/tags_test.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports, update-readme-help

feat: Add task role flags to register image command
  cmd/cli/cmd/images.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/status_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/client/interface.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/status_test.go
  internal/client/client.go
  internal/client/interface.go
Due: go-fmt, go-imports, update-readme-help

Add CLI support for new images API (#249)
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/status_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/client/interface.go
Due: go-fmt, go-imports, update-readme-help

Bump coverage threshold
  .testcoverage.yml
  README.md
Due: update-readme-help

Add new private repo example
  .runvoy/private-repo-example.yml
  README.md
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/runner_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/status_test.go
  internal/api/images.go
  internal/app/image_test.go
  internal/app/images.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/client/interface.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/images.go
  internal/providers/aws/database/dynamodb/images.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/images.go
  deploy/providers/aws/cloudformation-backend.yaml
  internal/api/images.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/api/images.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/images.go
  internal/api/images.go
  internal/client/client.go
  internal/providers/aws/database/dynamodb/images.go
  internal/server/handlers.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/status_test.go
  internal/app/images.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/client/interface.go
  internal/providers/aws/app/images_dynamodb.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/TEST_COVERAGE_ASSESSMENT.md
  internal/providers/aws/app/taskdef.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/constants/ecs.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  go.mod
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/taskdef.go
Due: go-fmt, go-imports, update-readme-help

Enhance image registration functionality by adding optional CPU/Mem (#250)
  .runvoy/private-repo-example.yml
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/images_test.go
  cmd/cli/cmd/status_test.go
  deploy/providers/aws/cloudformation-backend.yaml
  docs/TEST_COVERAGE_ASSESSMENT.md
  go.mod
  internal/api/images.go
  internal/app/image_test.go
  internal/app/images.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/client/client.go
  internal/client/client_test.go
  internal/client/interface.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/taskdef.go
  internal/providers/aws/constants/ecs.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/server/handlers.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

Add more coverage
  README.md
  cmd/cli/cmd/root.go
  docs/CLI.md
  go.mod
  go.sum
  internal/providers/aws/app/images_dynamodb_test.go
  internal/server/handlers_test.go
  justfile
  scripts/generate-cli-docs/main.go
Due: go-fmt, go-imports, update-readme-help

Improve cli docs
  README.md
  docs/CLI.md
  scripts/generate-cli-docs/main.go
Due: go-fmt, go-imports, update-readme-help

Update docs
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Update ARCHITECTURE.md
  README.md
  docs/ARCHITECTURE.md
Due: update-readme-help

Add comprehensive configuration tests, improve coverage from 47.4% to 49.5%
  README.md
  docs/CLI.md
  internal/config/aws/config_test.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help
