Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Simplify authorization by removing ActionExecute type
  docs/ARCHITECTURE.md
  internal/auth/authorization/casbin/policy.csv
  internal/auth/authorization/roles.go
  internal/auth/authorization/roles_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/backend/orchestrator/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Extend loadResourceOwnerships function in orchestrator (#281)
  README.md
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users_test.go
  internal/server/authorization_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Update user list output
  .runvoy/terraform-example.yml
  README.md
  cmd/cli/cmd/users.go
  cmd/cli/cmd/users_test.go
Due: go-fmt, go-imports, update-readme-help

Cleanup
  README.md
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/images_test.go
  internal/server/handlers_images.go
Due: go-fmt, go-imports, update-readme-help

Fix casbin health check for event processor
  README.md
  internal/providers/aws/health/casbin.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

Cleaup code from extra defenses
  README.md
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/health.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/orchestrator/secrets_test.go
  internal/backend/orchestrator/users.go
  internal/backend/orchestrator/users_test.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/processor/scheduled_events.go
  internal/server/authorization_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Cleanup
  README.md
  internal/backend/orchestrator/images.go
  internal/server/authorization_test.go
Due: go-fmt, go-imports, update-readme-help

Add missing config to event processor
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/config/aws/config.go
  internal/config/aws/config_test.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

Add support for resources multi ownership
  README.md
  cmd/cli/cmd/list.go
  cmd/cli/cmd/list_test.go
  docs/ARCHITECTURE.md
  internal/api/executions.go
  internal/api/executions_test.go
  internal/api/images.go
  internal/api/secrets.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/image_test.go
  internal/backend/orchestrator/images.go
  internal/backend/orchestrator/images_test.go
  internal/backend/orchestrator/main.go
  internal/backend/orchestrator/mocks_test.go
  internal/backend/orchestrator/secrets.go
  internal/backend/processor/backend.go
  internal/backend/processor/backend_test.go
  internal/providers/aws/database/dynamodb/executions.go
  internal/providers/aws/database/dynamodb/executions_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/users_integration_test.go
  internal/providers/aws/health/casbin.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/processor/backend_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/testutil/fixtures.go
Due: go-fmt, go-imports, update-readme-help

Fix ownership for images
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  internal/backend/orchestrator/images.go
Due: go-fmt, go-imports, update-readme-help

Fix policy for secrets creation
  README.md
  internal/auth/authorization/casbin/policy.csv
Due: update-readme-help

wip
  README.md
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Simplify getActionFromRequest middleware function (#284)
  README.md
  docs/ARCHITECTURE.md
  internal/auth/authorization/casbin/policy.csv
  internal/auth/authorization/roles.go
  internal/auth/authorization/roles_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Fix image authorization by resolving early before validation
  internal/api/executions.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports

Simplify ExecutionResponse to only include ResolvedImageID
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports

Rename ResolvedImageID to ImageID in public API
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports

Always return image_id in ExecutionResponse
  internal/api/executions.go
  internal/backend/orchestrator/executions.go
Due: go-fmt, go-imports

Update main.sh.tmpl to show Image ID instead of Docker image
  internal/providers/aws/orchestrator/templates/main.sh.tmpl
Due: none

Remove inline comments per AGENTS.md guidelines
  internal/backend/orchestrator/executions.go
  internal/providers/aws/orchestrator/runner.go
  internal/server/handlers_executions.go
Due: go-fmt, go-imports

wip
  README.md
  internal/backend/orchestrator/execution_test.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Fix image matching with user authorization (#285)
  README.md
  internal/api/executions.go
  internal/backend/orchestrator/execution_test.go
  internal/backend/orchestrator/executions.go
  internal/backend/orchestrator/images.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/runner_test.go
  internal/providers/aws/orchestrator/templates/main.sh.tmpl
  internal/server/authorization_test.go
  internal/server/handlers_executions.go
  internal/server/handlers_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Fix regression with default image run
  README.md
  cmd/cli/cmd/run.go
  cmd/cli/cmd/run_service_test.go
  internal/providers/aws/orchestrator/images_dynamodb.go
  internal/providers/aws/orchestrator/images_dynamodb_test.go
Due: go-fmt, go-imports, update-readme-help

Add new use action for secrets access
  README.md
  internal/auth/authorization/casbin/policy.csv
  internal/auth/authorization/enforcer.go
  internal/auth/authorization/roles.go
  internal/backend/orchestrator/executions.go
  internal/server/authorization_test.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Add missing enforcer to processor, refactor repos init for clarity
  README.md
  internal/backend/processor/init.go
  internal/providers/aws/database/repositories.go
  internal/providers/aws/orchestrator/init.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

Add missing hydration in event processor, make it a shared helper
  README.md
  internal/auth/authorization/hydrate.go
  internal/backend/orchestrator/main.go
  internal/backend/processor/init_test.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

Fix missing owned_by in secrets metadata
  README.md
  internal/providers/aws/database/dynamodb/secrets.go
  internal/providers/aws/database/dynamodb/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Fix missing owned_by in secrets metadata
  README.md
  cmd/cli/cmd/secrets.go
  internal/client/client_test.go
  internal/server/handlers_secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Logs
  README.md
  internal/providers/aws/processor/scheduled_events.go
Due: go-fmt, go-imports, update-readme-help

Add security vulnerability analysis report
  SECURITY_ANALYSIS.md
Due: none

Cleanup hydrate
  README.md
  internal/auth/authorization/hydrate.go
  internal/backend/orchestrator/main.go
  internal/backend/processor/init_test.go
  internal/providers/aws/processor/init.go
Due: go-fmt, go-imports, update-readme-help

Fix permissions
  README.md
  internal/auth/authorization/casbin/policy.csv
Due: update-readme-help

Add cors allowed origins
  README.md
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  internal/config/config.go
  internal/constants/config.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/lambdaapi/handler.go
  internal/server/authorization_test.go
  internal/server/handlers_secrets_test.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware.go
  internal/server/router.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Cleanup
  README.md
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports, update-readme-help

Add code smell analysis documentation
  docs/CODE_SMELL_ANALYSIS.md
Due: none

wip
  README.md
  internal/server/handlers.go
  internal/server/handlers_api_keys.go
  internal/server/handlers_executions.go
  internal/server/handlers_health.go
  internal/server/handlers_images.go
  internal/server/handlers_secrets.go
  internal/server/handlers_test.go
  internal/server/handlers_users.go
  internal/server/helpers.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/server/handlers.go
  internal/server/handlers_images.go
  internal/server/handlers_users.go
  internal/server/router.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/api/health.go
  internal/providers/aws/database/secrets.go
  internal/server/handlers.go
  internal/server/handlers_api_keys.go
  internal/server/handlers_executions.go
  internal/server/handlers_images.go
  internal/server/handlers_users.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/secrets.go
  cmd/cli/cmd/users.go
  internal/config/config.go
  internal/providers/aws/processor/ecs_events.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
