Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Refactor: Move AWS WebSocket manager to providers directory
  internal/events/init.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports

Refactor: Move AWS WebSocket manager to providers directory (#195)
  internal/events/init.go
  internal/providers/aws/websocket/manager.go
  internal/providers/aws/websocket/manager_test.go
Due: go-fmt, go-imports

Refactor: Separate cloud provider configs into provider-specific structs
  internal/app/init.go
  internal/config/config.go
  internal/config/config_test.go
  internal/events/init.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports

Refactor AWS initialization in app and events modules to streamline dependency management
  internal/app/init.go
  internal/events/init.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports

mod tidy
  README.md
  go.mod
  go.sum
Due: update-readme-help

Refactor config package to support multiple cloud providers
  internal/app/init.go
  internal/config/config.go
  internal/config/config_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/init.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports

Remove backward compatibility and use new AWS-prefixed env vars
  cmd/local/README.md
  deploy/providers/aws/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/config/config.go
Due: go-fmt, go-imports

wip
  README.md
  internal/app/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/config/aws/config.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

Refactor config package for cloud provider flexibility (#198)
  README.md
  cmd/local/README.md
  deploy/providers/aws/cloudformation-backend.yaml
  docs/ARCHITECTURE.md
  internal/app/init.go
  internal/config/aws/config.go
  internal/config/config.go
  internal/config/config_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/init.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

cleanup
  README.md
  internal/app/init.go
  internal/events/init.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Normalize log level configuration
  cmd/backend/providers/aws/event_processor/main.go
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports

Deduplicate token generation functions in auth package
  internal/app/main.go
  internal/auth/auth.go
  internal/auth/auth_test.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports

Deduplicate token generation functions in auth package (#200)
  internal/app/main.go
  internal/auth/auth.go
  internal/auth/auth_test.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports

Refactor: Use slog.Level for log level configuration
  cmd/backend/providers/aws/event_processor/main.go
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports

Move log level validation to config package
  cmd/backend/providers/aws/event_processor/main.go
  cmd/backend/providers/aws/orchestrator/main.go
  cmd/local/main.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports

Refactor: Use WebSocket manager for URL generation
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/websocket/manager.go
  internal/server/handlers_status_test.go
  internal/server/middleware_test.go
  internal/websocket/manager.go
Due: go-fmt, go-imports

Refactor: Use nil for empty string parameters in tests
  internal/providers/aws/events/backend_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/backend_test.go
  internal/server/handlers_status_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/providers/aws/app/init.go
  internal/providers/aws/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
Due: update-readme-help

Move websocket url generation to websocket package (#202)
  README.md
  internal/app/execution_test.go
  internal/app/init.go
  internal/app/main.go
  internal/app/mocks_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/backend_test.go
  internal/providers/aws/websocket/manager.go
  internal/server/handlers_status_test.go
  internal/server/handlers_test.go
  internal/server/middleware_test.go
  internal/websocket/manager.go
Due: go-fmt, go-imports, update-readme-help

Add coverage thresholds check
  .github/workflows/coverage.yml
  .testcoverage.yml
  README.md
  justfile
Due: update-readme-help

Add comprehensive cloud provider extensibility assessment
  EXTENSIBILITY_ASSESSMENT.md
Due: none

Fix coverage.yml flow
  .github/workflows/coverage.yml
  .github/workflows/golangci-lint.yml
  README.md
  justfile
Due: update-readme-help

Lint
  README.md
  internal/events/backend.go
Due: go-fmt, go-imports, update-readme-help

Decouple AWS Lambda context extraction with ContextExtractor interface
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/providers/aws/app/context.go
  internal/providers/aws/app/context_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports

wip
  README.md
  internal/logger/logger_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/logger/context.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports, update-readme-help

Remove AWS Lambda dependency from logger (#205)
  README.md
  internal/logger/context.go
  internal/logger/logger_test.go
  internal/providers/aws/app/context.go
  internal/providers/aws/app/context_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports, update-readme-help

Revise README for better organization and clarity
  README.md
Due: update-readme-help

Refactor AWS event backend initialization to use backendDependencies struct for improved clarity and maintainability. Updated function signatures and error handling for AWS configuration loading.
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/local/main.go
  cmd/local/server/server.go
  internal/events/backend.go
  internal/events/events_test.go
  internal/events/init.go
  internal/events/processor.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/events/init.go
Due: go-fmt, go-imports, update-readme-help

Cleanup event processor interface
  README.md
  cmd/local/main.go
  cmd/local/server/server.go
  internal/events/backend.go
  internal/events/events_test.go
  internal/events/init.go
  internal/events/processor.go
  internal/providers/aws/events/backend.go
  internal/providers/aws/events/backend_test.go
  internal/providers/aws/events/init.go
Due: go-fmt, go-imports, update-readme-help

Refactor: Use Go templates for AWS runner scripts
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/runner_test.go
  internal/providers/aws/app/scripts.go
  internal/providers/aws/app/templates/main.sh.tmpl
  internal/providers/aws/app/templates/sidecar.sh.tmpl
Due: go-fmt, go-imports

wip
  README.md
  internal/providers/aws/app/runner_test.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
