Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

go-fmt:
  name: go-fmt
  entry: gofmt
  language: system
  args:
  - -w

go-imports:
  name: go-imports
  entry: goimports
  language: system
  args:
  - -w

update-readme-help:
  name: update-readme-help
  entry: ./scripts/update-readme-help.sh
  language: system
  pass_filenames: false
  always_run: false

Fix IAM permissions
  README.md
  deploy/providers/aws/cloudformation-backend.yaml
  docs/CLI.md
Due: update-readme-help

Lint
  README.md
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports, update-readme-help

more coverage
  README.md
  internal/auth/auth_test.go
  internal/providers/aws/app/logs_test.go
Due: go-fmt, go-imports, update-readme-help

Improve test coverage for playbooks and router packages
  README.md
  docs/CLI.md
  internal/client/playbooks/loader_test.go
  internal/server/router_test.go
Due: go-fmt, go-imports, update-readme-help

Update ARCHITECTURE.md with current test coverage metrics
  README.md
  docs/ARCHITECTURE.md
  docs/CLI.md
  docs/TEST_COVERAGE_ASSESSMENT.md
Due: update-readme-help

feat: Sanitize secrets and URLs in sidecar script
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/runner_test.go
  internal/providers/aws/app/scripts_test.go
  internal/providers/aws/app/templates/sidecar.sh.tmpl
Due: go-fmt, go-imports

Add comprehensive test coverage for secret handlers
  .testcoverage.yml
  README.md
  TEST_COVERAGE_ANALYSIS.md
  TEST_COVERAGE_QUICK_REFERENCE.md
  TEST_COVERAGE_README.md
  docs/ARCHITECTURE.md
  internal/server/handlers_secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Sanitize template input to avoid leaking secrets in logs
  README.md
  internal/providers/aws/app/runner.go
  internal/providers/aws/app/runner_test.go
  internal/providers/aws/app/scripts_test.go
  internal/providers/aws/app/templates/sidecar.sh.tmpl
Due: go-fmt, go-imports, update-readme-help

feat: Add IAM role validation to AWS runner
  go.mod
  go.sum
  internal/providers/aws/app/client.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports

Improve test coverage: Add DynamoDB secrets tests and AWS app runner tests
  README.md
  docs/CLI.md
  internal/providers/aws/app/runner_test.go
  internal/providers/aws/database/dynamodb/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/CLI.md
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/init.go
Due: go-fmt, go-imports, update-readme-help

Validate iam roles before image creation (#252)
  README.md
  docs/CLI.md
  go.mod
  go.sum
  internal/providers/aws/app/client.go
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/app/init.go
  internal/providers/aws/app/runner.go
Due: go-fmt, go-imports, update-readme-help

Fix return code for IAM issues
  README.md
  internal/app/images.go
Due: go-fmt, go-imports, update-readme-help

Improve test coverage: Add tokens and connections tests
  README.md
  docs/CLI.md
  internal/providers/aws/database/dynamodb/connections_test.go
  internal/providers/aws/database/dynamodb/tokens_test.go
Due: go-fmt, go-imports, update-readme-help

Improve test coverage: Add app service layer secrets tests
  README.md
  internal/app/secrets_test.go
Due: go-fmt, go-imports, update-readme-help

Improve test coverage: Add app service layer user and image tests
  README.md
  docs/CLI.md
  internal/app/images_test.go
  internal/app/mocks_test.go
  internal/app/users_test.go
Due: go-fmt, go-imports, update-readme-help

Improve image name filtering
  .runvoy/terraform-example.yml
  README.md
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
Due: go-fmt, go-imports, update-readme-help

docs: Update ARCHITECTURE.md with test coverage improvements
  .runvoy/build-caddy-example.yml
  README.md
  cmd/cli/cmd/logs_test.go
  docs/ARCHITECTURE.md
  docs/CLI.md
Due: go-fmt, go-imports, update-readme-help

Longer waits for tailing logs
  .runvoy/private-repo-example.yml
  README.md
  cmd/cli/cmd/logs.go
  cmd/webapp/src/stores/logs.js
  docs/CLI.md
Due: go-fmt, go-imports, update-readme-help

Better handle unregister image
  README.md
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/dynamodb/images_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Better handle unregister image
  README.md
  internal/providers/aws/app/images_dynamodb.go
Due: go-fmt, go-imports, update-readme-help

Remove docs slop
  README.md
  TEST_COVERAGE_ANALYSIS.md
  TEST_COVERAGE_QUICK_REFERENCE.md
  TEST_COVERAGE_README.md
Due: update-readme-help

Fix image matching for deregister
  README.md
  internal/providers/aws/app/images_dynamodb.go
  internal/providers/aws/app/images_dynamodb_test.go
  internal/providers/aws/database/dynamodb/images.go
Due: go-fmt, go-imports, update-readme-help

Fix GenerateUUID to use correct UUIDByteSize constant
  internal/auth/auth.go
Due: go-fmt, go-imports

Fix GenerateUUID to use correct UUIDByteSize constant (#253)
  internal/auth/auth.go
Due: go-fmt, go-imports

Merge CreateUser and CreateUserWithExpiration methods
  internal/app/mocks_test.go
  internal/app/users.go
  internal/app/users_test.go
  internal/database/repository.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/dynamodb/users_integration_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports

Add RUNVOY_AWS_WEBSOCKET_TOKENS_TABLE and KMS key env vars
  internal/config/config_test.go
Due: go-fmt, go-imports

wip
  README.md
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

Remove redundant GH flow
  .github/workflows/coverage.yml
  .github/workflows/tests-and-coverage.yml
  README.md
Due: update-readme-help

Review duplicate user creation methods in repository (#254)
  README.md
  internal/app/mocks_test.go
  internal/app/users.go
  internal/app/users_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/database/repository.go
  internal/providers/aws/database/dynamodb/users.go
  internal/providers/aws/database/dynamodb/users_integration_test.go
  internal/server/handlers_test.go
Due: go-fmt, go-imports, update-readme-help

Update GH flows
  .github/workflows/golangci-lint.yml
  .github/workflows/tests-and-coverage.yml
  README.md
Due: update-readme-help

Fix flaky test
  README.md
  internal/providers/aws/database/dynamodb/mock_client.go
Due: go-fmt, go-imports, update-readme-help

Improve CLI docs generation: skip root description and single-option sections
  docs/CLI.md
  scripts/generate-cli-docs/main.go
Due: go-fmt, go-imports

Improve CLI docs generation: skip root description and single-option sections (#255)
  docs/CLI.md
  scripts/generate-cli-docs/main.go
Due: go-fmt, go-imports

Better cli docs gen
  README.md
  cmd/cli/cmd/configure.go
  docs/CLI.md
  scripts/generate-cli-docs/main.go
Due: go-fmt, go-imports, update-readme-help

Bump deps
  README.md
  go.mod
  go.sum
Due: update-readme-help

Fix config test
  README.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

Update readme with new example
  .runvoy/aws-cli-example.yml
  README.md
Due: update-readme-help

Remove redundant auth func
  README.md
  cmd/cli/cmd/list.go
  docs/CLI.md
  internal/auth/auth.go
  internal/auth/auth_test.go
  internal/constants/constants.go
  internal/server/middleware.go
Due: go-fmt, go-imports, update-readme-help

Bump go version
  README.md
  cmd/cli/cmd/playbook.go
  cmd/local/main.go
  docs/CLI.md
  go.mod
  go.sum
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

Path conditions:
  go-fmt: any of: \.go$ and \.go$
  go-imports: any of: \.go$ and \.go$
  update-readme-help: any of: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
