Repository runvoy/runvoy: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, update-readme-help

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        args: [--timeout=5m]
        types: [go]
        additional_dependencies: []

  - repo: local
    hooks:
      - id: go-fmt
        name: go-fmt
        entry: gofmt
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: go-imports
        name: go-imports
        entry: goimports
        language: system
        args: [-w]
        types: [go]
        files: \.go$

      - id: update-readme-help
        name: update-readme-help
        entry: ./scripts/update-readme-help.sh
        language: system
        files: ^(cmd/runvoy/|scripts/update-readme-help\.sh|README\.md)$
        pass_filenames: false
        always_run: false

wip
  README.md
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  internal/config/config.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/orchestrator/runner.go
Due: go-fmt, go-imports, update-readme-help

wip
  README.md
  docs/CODE_SMELL_ANALYSIS.md
Due: update-readme-help

Cleanup smells
  README.md
  cmd/cli/cmd/images.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/secrets.go
  cmd/cli/cmd/users.go
  internal/api/health.go
  internal/providers/aws/database/dynamodb/images.go
  internal/providers/aws/database/secrets.go
  internal/providers/aws/orchestrator/runner.go
  internal/providers/aws/orchestrator/taskdef.go
  internal/providers/aws/processor/ecs_events.go
  internal/server/handlers.go
  internal/server/handlers_api_keys.go
  internal/server/handlers_executions.go
  internal/server/handlers_health.go
  internal/server/handlers_images.go
  internal/server/handlers_secrets.go
  internal/server/handlers_test.go
  internal/server/handlers_users.go
  internal/server/helpers.go
  internal/server/middleware.go
  internal/server/router.go
  scripts/seed-admin-user/main.go
Due: go-fmt, go-imports, update-readme-help

Fix CORS path mismatch
  .runvoy/build-caddy-example.yml
  README.md
  internal/server/middleware.go
  internal/server/middleware_test.go
Due: go-fmt, go-imports, update-readme-help

Log
  README.md
  internal/providers/aws/health/manager.go
Due: go-fmt, go-imports, update-readme-help

Add goreleaser draft
  .goreleaser.yaml
  CHANGELOG.md
  README.md
  VERSION
  deploy/providers/aws/cloudformation-backend.yaml
  justfile
Due: update-readme-help

Update README
  README.md
Due: update-readme-help

Make infra deploy provider-agnostic with AWS as default
  cmd/cli/cmd/infra.go
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
Due: go-fmt, go-imports

Add infra deploy command for CloudFormation deployments
  cmd/cli/cmd/infra.go
Due: go-fmt, go-imports

Refactor infra deploy to use testable service layer
  cmd/cli/cmd/infra.go
  internal/client/infra/deploy.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/infra.go
  docs/CLI.md
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
Due: go-fmt, go-imports, update-readme-help

Use constants for releases bucket URL construction
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/constants/config.go
Due: go-fmt, go-imports

Move AWS releases bucket constants to AWS-specific code
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/constants/config.go
Due: go-fmt, go-imports

Show detailed CloudFormation errors on stack failures
  internal/client/infra/deploy_aws.go
Due: go-fmt, go-imports

wip
  README.md
  cmd/cli/cmd/infra.go
  docs/CLI.md
Due: go-fmt, go-imports, update-readme-help

wip
  cmd/cli/cmd/infra.go
  internal/client/infra/deploy.go
  internal/config/aws/config.go
  internal/config/config.go
  internal/providers/aws/constants/infra.go
  justfile
Due: go-fmt, go-imports

wip
  cmd/cli/cmd/infra.go
Due: go-fmt, go-imports

wip
  cmd/cli/cmd/infra.go
  internal/providers/aws/constants/infra.go
Due: go-fmt, go-imports

wip
  deploy/providers/aws/cloudformation-backend.yaml
Due: none

wip
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/config/aws/config.go
  internal/providers/aws/constants/infra.go
Due: go-fmt, go-imports

wip
  internal/client/infra/deploy_aws.go
Due: go-fmt, go-imports

wip
  docs/CLI.md
Due: none

wip
  .testcoverage.yml
  README.md
  docs/CLI.md
Due: update-readme-help

wip
  README.md
  cmd/cli/cmd/infra.go
  internal/client/infra/deploy.go
  internal/config/config.go
Due: go-fmt, go-imports, update-readme-help

Add infra deploy command for simplified deployments (#288)
  .testcoverage.yml
  README.md
  cmd/cli/cmd/infra.go
  deploy/providers/aws/cloudformation-backend.yaml
  docs/CLI.md
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
  internal/config/aws/config.go
  internal/config/config.go
  internal/providers/aws/constants/infra.go
  justfile
Due: go-fmt, go-imports, update-readme-help

Add infra destroy
  README.md
  cmd/cli/cmd/infra.go
  docs/CLI.md
  internal/client/infra/deploy.go
  internal/client/infra/deploy_aws.go
Due: go-fmt, go-imports, update-readme-help

Update readme
  README.md
Due: update-readme-help

Add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: update-readme-help

Add missing env to fix failing test
  README.md
  internal/config/config_test.go
Due: go-fmt, go-imports, update-readme-help

Update README
  CONTRIBUTING.md
  README.md
Due: update-readme-help

Add codevov action
  .github/workflows/tests-and-coverage.yml
  README.md
Due: update-readme-help

Fix flaky tests caused by incorrect file descriptor usage in SilentLogger
  internal/testutil/fixtures.go
Due: go-fmt, go-imports

Fix flaky tests caused by incorrect file descriptor usage in SilentLogger (#289)
  internal/testutil/fixtures.go
Due: go-fmt, go-imports

Use OIDC for codecov
  .github/workflows/tests-and-coverage.yml
  README.md
  internal/testutil/fixtures.go
Due: go-fmt, go-imports, update-readme-help

Add COC
  AGENTS.md
  CODE_OF_CONDUCT.md
  README.md
Due: update-readme-help
